h2 {
    color: #101720;
    font-style: normal;
    font-weight: bold;
    margin-left: 50px;
    font-size: 50px;
}

h1 {
    font-size: 64px;
    margin-left: 100px;
}

.question {
    display: flex;
    align-items: center;
}

.question img {
    width: 220px;
    margin-left: 100px;
}

.phone {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 28px;
    margin-left: 50px;
}

.phone img {
    width: 40px;
    height: 40px;
    padding: 20px;
}

.address {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-style: italic;
    margin-left: 50px;
}

.address img {
    width: 40px;
    height: 40px;
    padding: 20px;
}

.sentence {
    display: flex;
    align-items: center;
}

.sentence img {
    height: 70px;
    margin: 0 0 10px 10px;
}