.header {
  margin-top: 10px; }

h1 {
  margin-top: 10px;
  color: #6D5858;
  font-size: 48px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.96px;
  margin-left: 130px;
  font-family: 'Inter', sans-serif; }

h2 {
  font-style: italic;
  color: #6D5858;
  font-size: 35px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.68px;
  margin-left: -680px;
  font-family: 'Inter', sans-serif;
  color: black;
  font-style: normal; }

.row {
  margin-top: 60px;
  display: flex;
  gap: 150px; }

.btn-CSV {
  margin-top: 15px;
  position: absolute;
  right: 10px;
  width: 120px;
  height: 40px;
  background: #16A596;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  font-family: 'Inter';
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer; }

.btn-CSV:hover {
  background: #176E65; }

.input-container {
  margin-top: -20px;
  display: flex;
  gap: 150px; }

.input-ID,
.input-group {
  display: flex;
  align-items: center;
  gap: 15px; }

.input-ID label,
.input-group label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px; }

.input-ID .input-field,
.input-group .input-field {
  width: auto;
  padding: 10px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.5rem; }

.input-container-second {
  display: flex;
  gap: 153px;
  margin-top: 10px; }

.input_date_create,
.type_of_saving {
  display: flex;
  align-items: center;
  gap: 15px; }

.input_date_create label,
.type_of_saving label {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap; }

.input_date_create .input-field {
  width: 150px;
  padding: 10px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem; }

.type_of_saving option {
  width: 180px;
  padding: 10px;
  height: 40px;
  font-family: 'Inter';
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem; }

.btn-primary {
  position: absolute;
  margin-top: -10px;
  right: 20px;
  width: 100px;
  height: 40px;
  background: #16A596;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer; }

.btn-primary:hover {
  background: #176E65; }

.table-container {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  border: 3px dashed #6D5858;
  padding-right: 35px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 450px; }

.account-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 20px;
  table-layout: fixed; }

.account-table caption {
  text-align: left;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 24px;
  color: #440A67;
  margin-top: 10px; }

.account-table thead,
.account-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; }

.account-table th {
  color: #828282;
  font-size: 16px;
  font-family: Inter;
  text-align: center;
  border-bottom: 1px solid #440A67;
  padding-bottom: 5px;
  text-align: center; }

.account-table td {
  font-family: Inter;
  color: #440A67;
  margin-top: 20px;
  font-weight: 400;
  border-bottom: 1px solid #440A67;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px; }

.account-table th:first-child,
.account-table td:first-child {
  width: 10%; }

.account-table th:not(:first-child),
.account-table td:not(:first-child) {
  width: 22.5%; }

.account-table tbody tr:last-child td {
  border-bottom: none; }
