body {
  background-color: #F1FFFB; }

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px; }

.logo {
  color: #16A596;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: -0.5px; }

.contact-text a {
  font-family: Inter;
  font-size: 30px;
  font-weight: normal;
  color: #1B8136;
  text-decoration: none;
  margin-left: 500px; }

.text-container {
  width: 437px;
  height: 257px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 80px 0 0 200px; }

.text-container h3,
.text-container h4 {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
  stroke-width: 3px;
  font-family: Jura; }

.text-container h3 {
  color: #1B8136; }

.text-container h4 {
  color: #665F5F; }

.primary-btn {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  border: 15px solid #55ad9bbb;
  text-decoration: none;
  font-family: Jura;
  color: black; }

.block {
  position: absolute;
  top: -50%;
  right: -67%;
  height: 200%;
  width: 100%;
  background-image: url("/images/home.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right top;
  border-radius: 50% 0 0 50%; }
