<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <div class="logo">
        <a id="home-link">MATA</a>
    </div>
    <div class="navbar-item" style="margin-top: 100px">
        <a id="sa-link">Saving Account</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/navbar/create.png">
        <a id="sa-create-link">Create new account</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/navbar/deposit.png">
        <a id="sa-deposit-link">Deposit money</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/navbar/withdraw.png">
        <a id="sa-withdraw-link">Withdraw money</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/navbar/edit.png">
        <a id="sa-edit-link">Edit information</a>
    </div>
    <div class="navbar-item">
        <a id="analysis-link">Analysis</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/analysis/find.png">
        <a id="find-link">Find account</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/analysis/daily.png">
        <a id="daily-link">Daily report</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/analysis/monthly.png">
        <a id="monthly-link">Monthly report</a>
    </div>
    <div class="navbar-item">
        <a id="change-type-link">Types of Savings</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/change-type/create.png">
        <a id="ct-create-link">Create</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/change-type/edit.png">
        <a id="ct-edit-link">Edit</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon" src="/images/change-type/delete.png">
        <a id="ct-delete-link">Delete</a>
    </div>
    <div class="copyright">
        <img class="navbar-copyright-icon" src="/images/navbar/copyright.png">
        <p>Made by felix, m0ss, vkw and Xám</p>
    </div>
    <script>
        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const homePath = "/home";
            const fullHomeUrl = `${currentDomain}${homePath}`;
            document.getElementById("home-link").href = fullHomeUrl;
            const savingAccountPath = "/sa";
            const fullSavingAccountUrl = `${currentDomain}${savingAccountPath}`;
            document.getElementById("sa-link").href = fullSavingAccountUrl;
            const saCreatePath = "/sa/create";
            const fullSaCreateUrl = `${currentDomain}${saCreatePath}`;
            document.getElementById("sa-create-link").href = fullSaCreateUrl;
            const saDepositPath = "/sa/deposit";
            const fullSaDepositUrl = `${currentDomain}${saDepositPath}`;
            document.getElementById("sa-deposit-link").href = fullSaDepositUrl;
            const saWithdrawPath = "/sa/withdraw";
            const fullsaWithdrawUrl = `${currentDomain}${saWithdrawPath}`;
            document.getElementById("sa-withdraw-link").href = fullsaWithdrawUrl;
            const saEditPath = "/sa/edit";
            const fullSaEditUrl = `${currentDomain}${saEditPath}`;
            document.getElementById("sa-edit-link").href = fullSaEditUrl;
            const analysisPath = "/analysis";
            const fullAnalysisUrl = `${currentDomain}${analysisPath}`;
            document.getElementById("analysis-link").href = fullAnalysisUrl;
            const findPath = "/analysis/find-account";
            const fullFindUrl = `${currentDomain}${findPath}`;
            document.getElementById("find-link").href = fullFindUrl;
            const dailyPath = "/analysis/daily-report";
            const fullDailyUrl = `${currentDomain}${dailyPath}`;
            document.getElementById("daily-link").href = fullDailyUrl;
            const monthlyPath = "/analysis/monthly-report";
            const fullMonthlyUrl = `${currentDomain}${monthlyPath}`;
            document.getElementById("monthly-link").href = fullMonthlyUrl;
            const changeTypePath = "/change-type";
            const fullChangeTypeUrl = `${currentDomain}${changeTypePath}`;
            document.getElementById("change-type-link").href = fullChangeTypeUrl;
            const changeTypeCreatePath = "/change-type/create";
            const fullChangeTypeCreateUrl = `${currentDomain}${changeTypeCreatePath}`;
            document.getElementById("ct-create-link").href = fullChangeTypeCreateUrl;
            const changeTypeEditPath = "/change-type/edit";
            const fullChangeTypeEditUrl = `${currentDomain}${changeTypeEditPath}`;
            document.getElementById("ct-edit-link").href = fullChangeTypeEditUrl;
            const changeTypeDeletePath = "/change-type/delete";
            const fullChangeTypeDeleteUrl = `${currentDomain}${changeTypeDeletePath}`;
            document.getElementById("ct-delete-link").href = fullChangeTypeDeleteUrl;
        });
    </script>
</body>
</html>