<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <div class="logo">
        <a href="http://localhost:3000/home">MATA</a>
    </div>
    <div class="navbar-item" style="margin-top: 100px">
        <a href="http://localhost:3000/sa">Saving Account</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/d693/513d/a8c59c65aa18f20ad0aabc9213d21fab?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oGtBuGJHoDWigBwm8sryrhxvn6BcVeJNi2IyBCP6XY4jFM3TEvB03bFO7IfjCVyxeV5ZzGRaffTNMag~NA67B6OIU8sI8idGKTBY4FrROhON1nUosCIHfFdb4VGnAXixnzM67RyqmwEvIkJOKoDDX2YVffwTIhg2JLpqhqTWxmuxDPq8HEiZxDOa3tAVGFgaAacpuzxDSo7esTj-bUCsXePHYf1whbfWj4y6UPZkxoMywQDNVPMMPmQPCf-CkRFQC7hpToQm5rcco3EDCorQx9Yc-Js4aXRVQ9gKxlCVxLqhe1mte-Z7gsHLyNsVPmpM8RnTtZL76PEOaO8h8CzaGA__">
        <a href="http://localhost:3000/sa/create">Create new account</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/b656/b299/43bf61a1f93e995c905e9f0494ead6af?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Mtbq1HShIte~KUqT9ZnMSzXZ29Xin5HqJ5Ci4aAjSrgjfOfnwcQ6UukKvjJarj~BymmjyZks3JKdy0ICHFpz-KAEvbRi28cgVbjgZR1K93uIkK0ltClSBETXrZ6obWosXP~XU5Adetv-p8d2VBnQMpr5up6hqfMne7JNVRwPulR1CnI~hx15oa6uRBzD7HW8nciAxmIZAMiP5EaLQLi-mxuKL0lEb55prBUIRJUPraa1R-2P7CYo6J~SDdANrttfmcmp4T5K~NN8vdu1bzRkHaAkkDTlzXM1A2z9ZJpu7QvHjQ6buDdyMe~O1AUTIpEumO-dPdxFAjRA3lthDnQtmg__">
        <a href="http://localhost:3000/sa/deposit">Deposit money</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/b7a6/a14a/59525faa1bd6aac115bccbabb91b4567?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=EfWYfxRV8lcr4U36oaa8mkdmZG0D5L--doytl679FIceBj9IMBPBiR4MuY3XS~DmqYNmPrMIfLug5cq7VdTexp43uvGyQAPkvNs4G9Y0LpfShkag9M3xBuMQerpOqFhjfdz7lvdyynMLUm2uHuA9rmXv1YuBvt8KEgS7qrTS9Ajdz22o1wmlOPqqXfpZ6MQ-niJT1OZI8j4Lun8Z9fe1Br05V7lvEcKnl8Po~EFk9qnAXBouUtondKzy67zau2-eMAb1mtW2MN9Oh04Ngqjhmfm7gLMzBpAgPJTI6bbjCRZuTfbA412ZLLLZg4PxwQZbfQIynbzIHIJ-O6NiKSaFFw__">
        <a href="http://localhost:3000/sa/withdraw">Withdraw money</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/9b29/8f80/741762540fff363f4676d978730477aa?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Kcv9DCpopkS9mawG7Z2Hx756vNXM~lIo8nHsgiSc7~zftOX0AyPQKYYuLqGrizSQ69RVpZRytRG5xQUCtcPp38jDhSXYJY1oeOvsEdqqGXykqGUdc2Y7zrVrbeLo6x~Yb6aQYOETe6yz9YJNnjRy7oTkB2oF~t9TCV23CjZeJlv8MzYyIQF37Zh-~hp~n5sFyFUKJzw4F4iBVDV3w1bke82vsHiZ-FjE38aDFfPjghsUbddNDP3JP7cKGZNOxpUAWaAgnsTzP~MriQAwwIxIKMqkWM-b3o-0Y0lI1f4w5vRkL94PCUYQkmcQtHtOwGVA2Iw7GI1Hdb5bnImyb4FB0w__">
        <a href="http://localhost:3000/sa/edit">Edit information</a>
    </div>
    <div class="navbar-item">
        <a href="http://localhost:3000/analysis">Analysis</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/5b0e/6251/d09b0abed8944cbbc1252f93abdd66a7?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pK2dA9NQm3fczDN3gWlIS90nWjjdKCnOxCAG1H1wtyV-vBrJ-6UXcfl6F5ZFyqRtFjp1CxQsMv2Jcco3djoXY1twKvtW-4ZY27V1AYsM2HjtbKsime6v0uK1b0Ncu7kaI7ViN4Z-B3K5~q1qFpftQ1ZDoeLPBaqAXUw-vUcN2GnsAuqAH2ppuG7Alif6fXMevfzOuPqpOpCvfkz3xifcn-ZYZ-Zwf8EDuxqd0nWvenddEiuq9WSPlac7WRgO98dL2TAXw97Q-hU8e3b6y-aq6eJuCQrHAC1rrv6Uy31jV-FqK0szIFJ4CTS4ZXUc5YM-8WarhRCHKwoFhotWoG~z3A__">
        <a href="http://localhost:3000/analysis/find-account">Find account</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/2b4b/e733/76d465747f2be94e6ee6fde46cb961ef?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=W5MU8OCCr6Q8AiNPvVasrJZ~jReJTi1Z6DedNjzUONEPnAYwmqOh2X4w-twVof9EOjN4NPJo-~EwD-dZ5jnOoY6NbNcaNkau3HG4zv3ncgUvuX2llavRlhqo730CJuVRK5avRXQ0OzWPWtiJcKkcSEtPAXN8giDIfE4xOMFI2cR7tN2CuS6BYvqEwVtwJhQtIdCoexeg47LljlaZIrkLB9m4I8-WCCcK7ZOof67eRJmnwjbQRbvwucpT0Vu52c0~SZyaV-09WPiX33TDbITecaIuOnlgszg3~4wS0M40zRvmI2OcRUCo4aKDTkHtO-qlxzalZ7KR3VXTkqY2sEgXgA__">
        <a href="http://localhost:3000/analysis/daily-report">Daily report</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/9393/b407/c49dec29c2993e10b1d04cc856a5fe4b?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C6njDJQBDynv08W075~03SuvMPAQ2JFgobs7kfldHM2TuwaMp8dc2bOXXCYjdy21tEQZsic5MJPkm9RmN0oOQLjA1JThu8PQKRj-IdJPZte2XhVvbpAea5UETFbgM8f5Lld1ugtrvEctjQlMsS3sX5F2k~OOooc6Sc9o3UjkgAmmcurb6tuIgROplBQnSj69IvErQzN~NIKzGMDBN5LM483AbvHsp9nLexiPPRdx9~NWLTPxnJatoPr~fgzLm~xdC6ASbP4WPOIkyxOf1935uz0slbxeGnIqOrvui1~S00Lt-EyQAXGzYjiQC8RaHb5Si1TbYv58K85k2HJwg9acBQ__">
        <a href="http://localhost:3000/analysis/monthly-report">Monthly report</a>
    </div>
    <div class="navbar-item">
        <a href="http://localhost:3000/change-type">Types of Savings</a>
    </div>
    <div class="navbar-sub-item" id = "adjusted_create">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/456e/ce6a/64c23cc0a98bb9a676230a728576b4c7?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IKh2SJfg3oTZsGwig2vZc1jfvEmXh1P-Zn8XZhod~NUyNaZNx51XU3VE-KD91tpl56qwe1SJv0qIutYFG5ogU-GNUj7DvVUbyJ-wgIgRadK09jYUZ1VTSTndGs4EiF~zhBksYvXCHlVNl8aSCdHTk7bkY5t544T610FzDbCgyBh5f7P4OLeQJDDmC8OsxoN0COkarLIF~8S0OnQ3lCAATvD3D~V~0Ia~RUu-oOK3uZE-0s6eJRIwaXcmp06-brwnuLtVWvVbtlUv2F-SEKA9Rt6647Mpi3d8NWXJEu1dGkFz8nPlQ6eXpk0~kuzDK2nQwt8R7-DjVL7cCK9ehtXxUA__">
        <a href="http://localhost:3000/change-type/create">Create</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/bf47/443f/6ac4f800e48afddeadda9015cebd8ed7?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PV38uUN9g3rMuOzabjDmQ3cLyccmxoNqShk8Hupm95J6FhclmLTtJFjRdPQo4YKg2sb5AAOxHagUB8FbIMLW~RkJZ~ZkWXZ0zRJcRSCC5h3dm09f7BX8ARiqpB8qWC~in0UEBP0pE6ZBJjRRkNtN2OQJ8sCcC7n~CauPYjq~yENuk5Wy~3jOSKl5spM7KY9S0ngvWQZMQ4zTqXvFHAKpw58PMaku86ZNbtAWxjLjQZScyR9XM-O7QyW3qMBwzu~iD2bREHJZ2V1PMIRk1J9gjjJMtsJPM5U4-QUy8QAaFHdbPxqqGCEc0TvzH~dLovlqjSKi2vEJNAujioviGTGofA__">
        <a href="http://localhost:3000/change-type/edit">Edit</a>
    </div>
    <div class="navbar-sub-item">
        <img class="navbar-icon"
            src="https://s3-alpha-sig.figma.com/img/e7be/35c1/d7d6fccae81a326e9e27122c75ff8dc5?Expires=1723420800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GWvaGpCek~Sg42GaKNEfkROB-THuNdw~sbnlaYX9kFKbhMIPseP7r-rdGp0-IRvNAS5guXSa73t2kJwMHnyDXcACGHcIJrh~C20O1y-n1AtOjrtaKot6Tzg5woGk~W6ZU6rFJLqa58gxptibyWOIVX6b~2uM4X~NEZrFYkWoMaXQZLre7Z0JaSGZJ-3-uSLu1s7gUj5ycZ-x~56O~I7LI1YcgvjcGemjEtFqjSe~jESR20kGFtJL2HT6RPUw2qNCYDKEBOvGAMXTng5IL5QVbFCFwzXKztCmx4hQktj989DqlX7xAcBWWmOnh5iAXKdG7qHGEPhv2Db1RKbCKex7bw__">
        <a href="http://localhost:3000/change-type/delete">Delete</a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navbar = document.getElementById("navbar");
            const currentPath = window.location.pathname;
            console.log(currentPath);
            if (currentPath === "/starting") {
                navbar.style.display = "none";
            } else 
                navbar.style.display = "inline";
        });
    </script>
</body>
</html>