<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings Account Type</title>
    <link rel="stylesheet" href="/css/analysis-daily-report.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="header">
        <h1>Analysis</h1>
        <div class="row">
            <h2>Daily Report</h2>
            <button type="button" class="btn-CSV" id="csv_button" disabled>Export CSV</button>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <div class="daily_report">
        <label for="date-report">Date</label>
        <input type="date" class="input-field" id="date-create" placeholder="01/01/2024">
    </div>
    <button class="create_button" id="create">Create Report</button>
    <div class="table-container">
        <table class="account-table" id="account-table">
            <caption>Transaction Activity Report on <span id="report-date">27/12/2023</span></caption>
            <thead>
                <tr>
                    <th>Type of Savings</th>
                    <th>Total Income (VND)</th>
                    <th>Total Expense (VND)</th>
                    <th>Difference (VND)</th>
                </tr>
            </thead>
            <tbody>
                <tr class="no-data-message">
                    <td colspan="4">Insert the date</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        function formatDate(date) {
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = date.getFullYear();
            return `${day}/${month}/${year}`;
        }

        function fetchData(date) {
            return fetch(`/analysis/daily-report/createReportAPI?date=${date}`)
                .then(response => response.json());
        }

        function renderTable(data) {
            const tableBody = document.querySelector('#account-table tbody');
            document.getElementById('csv_button').disabled = true;

            tableBody.innerHTML = '';  // Clear previous table content

            let allZero = true;

            data.forEach(item => {
                if (item.total_income !== 0 || item.total_expense !== 0) {
                    allZero = false;
                }
            });

            if (allZero) {
                const row = document.createElement('tr');
                row.classList.add('no-data-message');
                row.innerHTML = `
            <td colspan="4" style="text-align: center;">
                <div style="font-size: 50px; word-break: break-word;">Oops!</div>
                <div style="font-size: 30px; word-break: break-word;">No data found.</div>
            </td>`;
                tableBody.appendChild(row);
                document.getElementById('csv_button').disabled = false;
            } else {
                let totalIncomeSum = 0;
                let totalExpenseSum = 0;

                data.forEach(item => {
                    if (item.total_income === 0 && item.total_expense === 0) return;

                    const row = document.createElement('tr');
                    row.innerHTML = `
                <td>${item.type_of_saving}</td>
                <td>${item.total_income}</td>
                <td>${item.total_expense}</td>
                <td>${item.total_income - item.total_expense}</td>
            `;
                    tableBody.appendChild(row);

                    totalIncomeSum += item.total_income;
                    totalExpenseSum += item.total_expense;
                });

                if (totalIncomeSum !== 0 || totalExpenseSum !== 0) {
                    const totalsRow = document.createElement('tr');
                    totalsRow.classList.add("total-row");
                    totalsRow.innerHTML = `
                <td>Total</td>
                <td>${totalIncomeSum}</td>
                <td>${totalExpenseSum}</td>
                <td>${totalIncomeSum - totalExpenseSum}</td>
            `;
                    tableBody.appendChild(totalsRow);
                }

                const numberOfRows = tableBody.querySelectorAll('tr').length;
                if (numberOfRows > 10) {
                    tableBody.classList.add('scrollable');
                } else {
                    tableBody.classList.remove('scrollable');
                }

                document.getElementById('csv_button').disabled = false;
            }
        }
        function renderChart(data) {
            const labels = [];
            const totalIncomeData = [];
            const totalExpenseData = [];
            data.forEach(item => {
                labels.push(item.type_of_saving);
                totalIncomeData.push(item.total_income);
                totalExpenseData.push(item.total_expense);
            });
            chart.data.labels = labels;
            chart.data.datasets[0].data = totalIncomeData;
            chart.data.datasets[1].data = totalExpenseData;
            chart.update();
        }

        document.addEventListener("DOMContentLoaded", function () {
            const currentDate = new Date();
            currentDate.setDate(currentDate.getDate() - 1);
            const year = currentDate.getFullYear();
            const month = String(currentDate.getMonth() + 1).padStart(2, '0');
            const day = String(currentDate.getDate()).padStart(2, '0');
            const previousDay = `${year}-${month}-${day}`;
            document.getElementById('report-date').textContent = formatDate(currentDate);

            const contactPath = "/contact";
            const fullContactUrl = `${window.location.origin}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
            fetchData(previousDay).then(data => {
                renderChart(data);
            });
            document.getElementById('csv_button').addEventListener('click', function () {
                const table = document.querySelector('.account-table');
                let csvContent = 'data:text/csv;charset=utf-8,';

                const headers = Array.from(table.querySelectorAll('thead th')).map(th => th.textContent.trim()).join(',');
                csvContent += headers + '\r\n';

                const rows = Array.from(table.querySelectorAll('tbody tr')).filter(row => !row.classList.contains('no-data-message'));
                rows.forEach(row => {
                    const rowData = Array.from(row.querySelectorAll('td')).map(td => td.textContent.trim()).join(',');
                    csvContent += rowData + '\r\n';
                });

                const encodedUri = encodeURI(csvContent);
                const link = document.createElement('a');
                link.setAttribute('href', encodedUri);
                link.setAttribute('download', 'daily_report.csv');
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        });
        document.getElementById('create').addEventListener('click', function () {
            const date = document.getElementById("date-create").value;
            if (date !== "") {
                const formattedDate = new Date(date);
                const displayDate = formatDate(formattedDate);
                document.getElementById('report-date').textContent = displayDate;

                fetchData(date).then(data => {
                    const isPreviousDay = new Date(date).toISOString().split('T')[0] === new Date(new Date().setDate(new Date().getDate() - 1)).toISOString().split('T')[0];
                    if (isPreviousDay) {
                        renderChart(data);
                        document.querySelector('#account-table tbody').innerHTML = '<tr class="no-data-message"><td colspan="4">Insert the date</td></tr>';
                    } else {
                        renderTable(data);
                        renderChart(data);
                    }
                }).catch(error => {
                    console.error('Error fetching report data:', error);
                });
            } else {
                alert('Please select a date.');
            }
        });

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [],
                datasets: [
                    {
                        label: 'Total Income',
                        data: [],
                        backgroundColor: '#7FC2FF',
                        borderWidth: 1,
                        barThickness: 30
                    },
                    {
                        label: 'Total Expense',
                        data: [],
                        backgroundColor: '#FF5F9E',
                        borderWidth: 1,
                        barThickness: 30
                    }
                ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'right',
                        labels: {
                            boxWidth: 20
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                let value = context.raw || 0;
                                return new Intl.NumberFormat().format(value);
                            }
                        }
                    },
                    /*title: {
                        display: true,
                        text: 'Daily operations sales report',
                        position: 'bottom',
                        font: {
                            size: 20,
                            weight: 400,
                            family: 'Inter'
                        },
                        padding: {
                            top: 10,
                            bottom: 10
                        }
                    }*/
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: true
                        },
                        ticks: {
                            callback: function (value) {
                                return new Intl.NumberFormat().format(value);
                            }
                        }
                    }
                }
            }
        });
    </script>
</body>

</html>