<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/change-type.css">
</head>
<body>
    <h1>Types of savings</h1>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <div class="boxes">
        <a id="ct-create-link-box">
            <div class="box">
                <img src="/images/change-type/create-box.png">
                <p>Create</p>
            </div>
        </a>
        <a id="ct-edit-link-box">
            <div class="box">
                <img style="margin-left: 65px;" src="/images/change-type/edit-box.png">
                <p>Edit</p>
            </div>
        </a>
        <a id="ct-delete-link-box">
            <div class="box">
                <img style="margin-left: 65px;" src="/images/change-type/delete-box.png">
                <p>Delete</p>
            </div>
        </a>
    </div>
    <div class="message-box">
        <img src="/images/sa/email.png">
        <h2>Hi! You just receive a new message!</h2>
        <p>
            <span style="color: #16A596; font-weight: bold">Create</span>: Enter the new type’s requirement, click <span style="font-weight: bold">"Create"</span>, 
            review the details in the pop-up window, and if everything is correct, click <span style="font-weight: bold">"Submit"</span>; 
            if adjustments are needed, click <span style="font-weight: bold">"Cancel"</span> to make changes.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Edit</span>: Choose the type of saving, adjust information and click <span style="font-weight: bold">"Edit"</span>. 
            A preview will be shown for review. If the system can't update the information, you'll be notified to try again. Otherwise, a success message will appear.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Delete</span>: Choose the type of savings, and click <span style="font-weight: bold">“Delete”</span>. 
            Next, you are required to confirm that this type of savings will be deleted eternally. If this is the case, click <span style="font-weight: bold">“Yes”</span>.
            System will notify if the type is deleted successfully or unsuccessfully. Otherwise, click <span style="font-weight: bold">“No”</span>.
        </p>
    </div>
    <script>
        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
            const changeTypeCreatePath = "/change-type/create";
            const fullChangeTypeCreateUrl = `${currentDomain}${changeTypeCreatePath}`;
            document.getElementById("ct-create-link-box").href = fullChangeTypeCreateUrl;
            const changeTypeEditPath = "/change-type/edit";
            const fullChangeTypeEditUrl = `${currentDomain}${changeTypeEditPath}`;
            document.getElementById("ct-edit-link-box").href = fullChangeTypeEditUrl;
            const changeTypeDeletePath = "/change-type/delete";
            const fullChangeTypeDeleteUrl = `${currentDomain}${changeTypeDeletePath}`;
            document.getElementById("ct-delete-link-box").href = fullChangeTypeDeleteUrl;
        });
    </script>
</body>
</html>