<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings Account Type</title>
    <link rel="stylesheet" href="/css/change-type-delete.css">
</head>

<body>
    <div class="header">
        <div>
            <h2>Delete</h2>
        </div>
        <div>
            <h1>Types of Savings</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>

    <form action="/change-type/delete" id="myForm" method="POST">
        <div class="format">
            <div class="type-group">
                <label for="savingsType">Type</label>
                <select class="form-control" name="type" id="savingsType">
                    <option value="" disabled selected>Term/Non-term</option>
                    <option value="non-term">Non-term</option>
                    <option value="term">Term</option>
                </select>
            </div>
            <button type="submit" class="btn-primary" id="submit_button">Delete</button>
        </div>
    </form>

    <div class="delete-message">
        <img src="https://s3-alpha-sig.figma.com/img/5bf9/c131/5a2de4fc57cd0073111418d9bf74b517?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XXXupgh-mW5f4OiV4EFBU1x6vX7VguVuZzGDvmwybBfaUAb6M~1kIZbijzW5N2O-qRMgjUxB-oY5c~aYA8pUpqaXr7L4zCpVRdHiEaU3iwt2VCyQH2PpUS~OamDAGTffjD0xxpCGuCfZGHIxIGVGXC-oGJ5vvWKMp0pf518vPOtQ0btqP1SZrS5xJzqA0wHXLEltWbg~wz8Uubw26DgSsESp5NKLZMl8EQuTaY9vIhArSZ8KewCiyeWzVKS3wWBwndn~Q-nhz28QS3ahW~FXoyK1hpmGefIdjYT3vk3zhVEUP-OxV3lF~1Z0aHSrZvWevWnDRYWduNCZ~z1RbhLReA__" alt="Girl Image" class="boy-image">
        <img src="https://s3-alpha-sig.figma.com/img/ce00/1f57/9bde5697283e8e8c617c2844c3491c3c?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PjS889YFAHrzHjIkwF9UMcAhLJzhQoi6QfjWIsMth7DUwXaau4ovMLOHPJw4jA8z1dWprcWc8T8wd3aoQpMWiSvNldGlu5p5lmsHSLvmUS~H5sVnjUZi5Ipe7ON2nz-nktf-Voq~4qgcePYfDPSPAi7c1czPE1P5~CGA~YrHkquJzD8q-p~e4Ed8NDMoOLQDW6FtEIqWAKy47jybUdHn44rfsBnqiAqsu2iETHBVyGHo~0EpXSrvC63RnEXNTcMej62glb7c1QKXOEcA9t1V4xQkFBWi4mYJ-nTWMa0O1hg9YK5Fi5JZOr6pncsNuo-3v77SClWC8uKxT9LTryMjmw__" alt="Money Image" class="light-image">
        <div class="delete-text">
            <h1>Tips for you</h1>
            <h2>Every decision matters in the long run.</h2>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const submitButton = document.getElementById("submit_button");

            submitButton.addEventListener("click", function (event) {
                event.preventDefault(); // Prevent the default form submission
                document.getElementById("myForm").submit();
            });
        });

        // Redirect
        document.addEventListener("DOMContentLoaded", function () {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
        });
    </script>
</body>

</html>
