<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sa.css">
</head>
<body>
    <h1>Types of savings</h1>
    <div>
        <a href="http://localhost:3000/contact">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <div class="boxes">
        <a href="http://localhost:3000/sa/create">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/f5bb/9f2d/501280a531c20d38d3c4348404f1476f?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Uv9l-7AAjNM~o6ckx8Xn6n-wxtYzqngzRyTblcGMaZWyAKZX5IyCvAN3sREhy7BTnDHYPcXc41b4Kh4yYbc9HDxOWF~ji6blmmfXGz9rz8r7xJTYgysueC9HTASIzEEkJSwdV2~ERuqB4IbpPwXZBJHpLSaOKMw9Re3sLxE9tsjJAKIf5dB-HRvZPtuWwRjOYPX6tQYrOF5crb4C0jFxTRXmXAaUOdjgZtdj~cOpqxy7P6UBhQaKFUtfhQU-MEFIFpPpknKCXROyTYjHq00OGwr5IxXMNIJhzjE5i-d842lPd0hYh9U~gn~wKCZHELDVhNmLoKh2H1l5ciwX4HgeRw__">
                <p>Create</p>
            </div>
        </a>
        <a href="http://localhost:3000/sa/edit">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/2ce0/abc4/405b435700dbc6216d9a9f20338f54ed?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OHfYmk6-KpTP4Bq9FlBp6-CLQ7OA2DI2oCurV~SnZXykwC3Z5BdmXTQOSY7049A0irHqu19nbEHiYVgJswufHrq3wPg6NQ4nvRWmeTRLHj8H0mQzHO~QPFiu2tXhLl8CHAkoGJJWDRw~~92OLo7bDSU6TJAJME5rcldG9FropyTEk~AIz3FKeUbsiELC4GoAIUzP55JcVMRmauu~gaYu9vVlXJHTjbKRKK4Kbn9qAkw1Lbqhpd8kVo~VdPygyx22h1y5I-4KagDH~ui9dA-nXeXhsJBYUdMshWlc0Xxk4pHrhSycLw2P8bXWwyJH9LVQm57iBUKQej0wRMStvu5AzA__">
                <p>Edit</p>
            </div>
        </a>
        <a href="http://localhost:3000/sa/deposit">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/838e/32cc/760ac5d96b33519a853883e9db569fbf?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=paHGEY2IFNjOtDA85o6mucfDY0ASOe3lA2wJKLMs2uEraXQuDQnvvXoZdWlSGUROSKsIWFyaHQvAIKoOvCErwOW3b7axOtWQlAM5gjNXTRabzsIYghosxcIoVifbTaWgFazLUQRtWbpHGTfISRobkiYIzY94BqILNj0zdMhaOSJXdJmOWhXtmESRa8BmZTnoUSHn3oIaDVz2ALjN2cNLog7AK5mkGluwPiKEBLOe5aoQjOXdVNouNHTSbdgSonqJOdPprvEYdO~kKV~MNkPnpIJdiUB0BSApRE9UOuk1-Q1FfmxDZSrSGWIe4RsFR9zQRR7gGP8orsr7VYNr~sDzBw__">
                <p>Delete</p>
            </div>
        </a>
    </div>
    <div class="message-box">
        <img src="https://s3-alpha-sig.figma.com/img/83ac/922c/53ff8a2a4858f8a501318625c2e563ff?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GWBEektMkx6VsD08hEBKJFqaqGH0bPdxiee7iqkGFLo-iOmLX3SA~SOD55d8O~~IKa5vrH~DvbaWdeIhRknrjxdfsE4EJT6q-xClFRKPrPRnNoTjWPgZJNqd19PWUO7IIf68xR2g3AwUfl7HGpHbPkaMXn1zyPBTMct9Eb3IzHPo9LiscnukS-s4iEq8sVXS5XoJ6dt5Vfb8jfL16JW-KjFvMipInaoccOUHXTY~K2j1O6w35K-7QgtBvnYYT5zjg~DaVBIlT7om4PMLufP7EoNMpVKh59b3ndLoMc23HYEEOqNqhNIIYxAI-4imHyuElU5YqNUyMpywVjs~j~gezg__">
        <h3>Instruction</h3>
        <h2>Hi! You just receive a new message!</h2>
        <p>
            <span style="color: #16A596; font-weight: bold">Create new account</span>: Enter the customer's personal and account information, 
            click <span style="font-weight: bold">"Create"</span>, review the details in the pop-up window, and if everything 
            is correct, click <span style="font-weight: bold">"Submit"</span>; if adjustments are needed, click <span style="font-weight: bold">"Cancel"</span> to make changes.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Edit information</span>: Enter the ID and click <span style="font-weight: bold">"Edit"</span>. If ID doesn't exist, 
            a pop-up will notify you, and you can click <span style="font-weight: bold">"Return"</span> to check again. 
            If ID exists, make your changes and click <span style="font-weight: bold">"Done"</span>. If the update fails, it will inform you to try again.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Deposit money</span>: Enter the customer’s name and ID, next enter the 
            amount of money needed depositing and click <span style="font-weight: bold">“Deposit”</span>. If system 
            cannot deposit the money, it will inform you to try again.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Withdraw money</span>: Enter the customer’s name and ID, next enter 
            the amount of money needed withdrawing and click <span style="font-weight: bold">“Withdraw”</span>. 
            If system cannot withdraw the money, it will inform you to try again.
        </p>
    </div>
</body>
</html>