<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings Account Type</title>
    <link rel="stylesheet" href="/css/change-type-delete.css">
</head>

<body>
    <div class="header">
        <div>
            <h2>Delete</h2>
        </div>
        <div>
            <h1>Types of Savings</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>

    <form action="/change-type/delete" id="myForm" method="POST">
        <div class="format">
            <div class="type-group">
                <label for="savingsType">Type</label>
                <select class="form-control" name="type" id="savingsType">
                    <option value="" disabled selected>Term/Non-term</option>
                    <option value="Non-term">Non-term</option>
                    <option value="term">Term</option>
                </select>
            </div>
            <button type="submit" class="btn-primary" id="submit_button">Delete</button>
        </div>
    </form>

    <div class="delete-message">
        <img src="/images/change-type/boy.png" alt="Boy Image" class="boy-image">
        <img src="/images/sa/bulb.png" alt="Bulb Image" class="light-image">
        <div class="delete-text">
            <h1>Tips for you</h1>
            <h2>Every decision matters in the long run.</h2>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const submitButton = document.getElementById("submit_button");

            submitButton.addEventListener("click", function (event) {
                event.preventDefault(); // Prevent the default form submission
                document.getElementById("myForm").submit();
            });
        });

        // Redirect
        document.addEventListener("DOMContentLoaded", function () {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
        });
    </script>
</body>

</html>
