<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <h1>Contact</h1>
    <div class="question">
        <img src="/images/contact/girl.png">
        <h1>Having troubles?</h1>
    </div>
    <div class="sentence">
        <h2>Contact us now for further information</h2>
        <img src="/images/contact/smile.png">
    </div>
    <div class="phone">
        <img src="/images/contact/phone.png">
        <p>0123456789</p>
    </div>
    <div class="address">
        <img src="/images/contact/place.png">
        <p>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</p>
    </div>
</body>
</html>