<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <h1>Contact</h1>
    <div class="question">
        <img src="https://s3-alpha-sig.figma.com/img/da12/2de8/355fcfbcd639ba8feae7aa7aaaab829e?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hS6bBSwT9aK8t7CLKBOoE7gwwE5ZsyePMpMDqiqf4w6ne9OuOYqmWhsBJBOcEJK1a58OzQVpWrewfCrn7ME-iwaZr-45~vMF6yBeBHt9dMxtk210DnzR3uAPZi~iHnjKX1mbUcEsdISBMa47vcfEbWNJqOHJRh1MLtGUgJJqRZyJt90XH2qN1PMkyjnN6bRQ9iXVkv5Ir2dFmJ2IYXRnfCNwWdqQwu-9Z6PF-D33JWh7Y2PtAX7aqxggN~6hFUuT~N1fvRxpM-hOCwD6KmvurGTfHRGS9ReiHiIegNFaiauX8ZV~rdLtAGQdzoN8ciH7n-Bs-w9O8Y2c2j7FMQ1ooA__">
        <h1>Having troubles?</h1>
    </div>
    <div class="sentence">
        <h2>Contact us now for further information</h2>
        <img src="https://s3-alpha-sig.figma.com/img/eac3/c43a/0df3a0caf68274bc6b8b85f4b6e3de17?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KWRKfcE4WCcDe2DfQ8Xib67TK4YQe2egB71EJZ8w9fDsClq3Fat~UprQcSh9TWW7ymOHJ1nlvwuokKvisXsr8de9R9-FMNK-RpzAfOlxFRPLowcPBqDAwp6NMSYJSOlZdgoV7ivkcN-iXc6g4BG-1nwADTiwR5dOsrswBR8DACF8klb8vDXWl4tXOLg4n6P0DIVmvm7JAhSrx1M2kADy9jmyyEuCX~y13nBbB6nQWJ~~A-4YN05z~0UuC9Wv7xH4RdxoBQMQvpKy20dL8IU~qesbAewRC7wCdLhRu~dg-yA~vBeIra1xDovmqbhD3REiqHjgHQWKYVeDTRGNn6xURA__">
    </div>
    <div class="phone">
        <img src="https://s3-alpha-sig.figma.com/img/2a53/c014/684b7d8d3abafe3ebff30a12e3e90e74?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Qm1eNmKZQ2VDAgnrYRztPJX-oHq3GJ6PhL7s5zDCj0cU6q4UqGHJuhbg7QA5HaWNaV3~5kqz-6pEM0Z9N20n0VrXq2PA3jXVMrXZx1wYMNysMHmmq4t3VUIq-HWA0A-CPzvV2hhrZdr1ScvcgVyJMXLSo~qgrBHJWg4S7B58rJkPuZudOADPMgVyozFW6XwXhc4U1zYP4YcQCAhWueBAOkcxCExOM-0yI0mcY8qzhRtkg1i0rlT8kEmwJ1uxCijBBU67irYfKpLzGlEalDNhbxxiRPwtAnbv6quDE9Aa7kRrl8wT-Jm191yTwx2h5btphYVSHhngoovs4xLYdxMn-Q__">
        <p>0123456789</p>
    </div>
    <div class="address">
        <img src="https://s3-alpha-sig.figma.com/img/1df0/fcb5/769c1e9ae24c35c85cd8210d15d925c8?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=oaA8Lf8rbSMhViy14PQrUDqKzYvSkws4MALSK985QBOjYWWICvz~~vGnlz-ejZY4QENBe27vTgUo5FyRLqmtJ6xk0ko-j9M9kn~bQBBQ3j6X-6R3hUgCZEObBzLHfzjgDsbgC0tkryek233ODoWpvSeY1RTGtpC8jR1L3vDnMR2aM~PbIe-LRntL-WIte~9-47HmzE0nKFLtupS4JzOPnKZ8fZLTfuqzndCHGlgS10HilAhCN5hyOEPj5obrA8RAF3QuIAJsdHi97m6KOb1hXQqfFH6IovavQNafFk2yj1hXF7wJPmE1~3A4FMlSazSkYQU4EkrFPHX3zIDTzGSzXg__">
        <p>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</p>
    </div>
</body>
</html>