<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="welcome-box">
        <div class="welcome-text">
            <img src="/images/sunshine1.png" alt="Decorative Image" class="decorative-image">
            Welcome to MATA. <br>
            How can we help you today? <br>
        </div>
    </div>

    <div class="welcome-box1">
        <div class="welcome-text1">
            Total account opened. <br>
        </div>
        <div class="amount1">1.000.000</div>
    </div>

    <div class="welcome-box2">
        <div class="welcome-text2">
            Total account closed <br>
        </div>
        <div class="amount2">1.000.000</div>
    </div>

    <!-- New welcome box -->
    <div class="welcome-box3">
        <img src="/images/girl.png" alt="Girl Image" class="girl-image">
        <img src="/images/money-image.png" alt="Money Image" class="money-image">
        <div class="welcome-text3">
            <h1> Every penny you save now is a step closer to living your best life. </h1>
            <h2> Let's make that saving account pop! </h2>
        </div>
    </div>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
<script>
    const config = {
        type: 'doughnut',
        data: {
            labels: ['Deposited', 'Withdrawn'],
            datasets: [{
                data: [75, 25],
                backgroundColor: ['#BAB5F6', '#FF5F9E'] // Colors for the slices
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'bottom', // Position the legend at the bottom
                    labels: {
                        boxWidth: 20, // Width of the color box
                        padding: 20, // Padding around the legend items
                    }
                },
                title: {
                    display: true,
                    text: 'Transaction activities',
                    position: 'top', // Title position at the top
                    font: {
                        size: 30, // Font size of the title
                        weight: 'bold', // Font weight of the title
                        family: 'Inika' // Font family
                    },
                    padding: {
                        top: 10,
                        bottom: 10
                    }
                }
            },
            layout: {
                padding: 20 // Padding around the chart
            },
            cutout: '70%', // Adjust the thickness of the donut
        }
    };

    // Create the chart
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, config);

</script>
</body>

</html>
