<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div>
            <h2>Create new account</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <button class="button" id="contact-button">Contact</button>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Customer's information</legend>
            <div class="form-group">
                <span>Customer's ID card</span>
                <img src="https://s3-alpha-sig.figma.com/img/322e/abb9/8f9d08e405e2f5fef7c23821052df891?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z~DgUeN~tpMmu0rJhnnU2GIr9xSIhVkLFWobeq2YC1aiIln7gKI-S1nMmn7F7GAfe8xVEmaA3lMMl9TskBsPExubhl7Myw42dj~7GOgDbZh1m~f6xev0IaSP3rn7RPG98dzEG00BEdQ7YhdPIeAhSmC86H8dsEGar-dyPos6J9EQSbZiI6QH2AiU51ynUivDFLRqeniysZmGvr~mPB2G13d4smyXyCVcIJ2-nW7v6RZn1sPSgqWnfDOpvUtEk17a8Edxg0R~rlxA~3s6rgpIBExpWr1Wq679Mdn97Y5LGHLnrzVfyNlhSRFi3NIhSeRvcjUxxthmAdBy8WHQk4S7OA__">
                <input type="number" name="c_id" class="form-control" placeholder="123456789"
                    title="ID must have 9 numbers" required>
            </div>
            <div class="form-group">
                <span>Customer's name</span>
                <input type="text" name="name" class="form-control" placeholder="Nguyễn Văn A" pattern="[A-Za-zÀ-ỹ\s]+">
            </div>
            <div class="form-group address-box">
                <span>Customer's address</span>
                <input type="text" name="address" class="form-control"
                    placeholder="Số nhà, Đường, Phường/Xã/Thị trấn, Quận/Huyện, Tỉnh/Thành phố">
            </div>
        </fieldset>
        <fieldset class="account-information">
            <legend>Account's information</legend>
            <div class="form-group">
                <span>ID Account</span>
                <input type="text" name="c_id" class="form-control" placeholder="MS0000000001" disabled>
            </div>
            <div class="form-group">
                <span>Date create account</span>
                <input type="date" name="create_date" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <span>Money (VND)</span>
                <input type="text" name="money" class="form-control" placeholder="100,000">
            </div>
            <div class="form-group">
                <span>Type of saving</span>
                <select name="tos" class="form-control" id="tos-input">
                    <option value="">--Type of saving--</option>
                    <option value="3 thang">3 months</option>
                    <option value="6 thang">6 months</option>
                    <option value="Khong thoi han">Non-term</option>
                </select>
            </div>
            <div class="form-group">
                <span>Interest rate</span>
                <input id="rate" name="interest-rate" type="text" class="form-control" value="0.x%" disabled>
            </div>
        </fieldset>
        <button id="submit-button" class="button" onclick="confirmSubmit()">Create</button>
    </form>

    <div id="pop-up" class="pop-up">
        <div class="pop-up-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2 style="text-align: center">Confirm Submission</h2>
            <p id="confirmCId"></p>
            <p id="confirmName"></p>
            <p id="confirmAddress"></p>
            <p id="confirmCreateDate"></p>
            <p id="confirmTos"></p>
            <p id="confirmRate"></p>
            <p id="confirmMoney"></p>
            <div class="buttons">
                <button class="button" onclick="closePopup()">Cancel</button>
                <button class="button" onclick="submitForm()">Confirm</button>
            </div>
        </div>
    </div>
    <script>
        function confirmSubmit() {
            var cusID = document.querySelector('[name="c_id"]').value;
            var name = document.querySelector('[name="name"]').value;
            var address = document.querySelector('[name="address"]').value;
            var createDate = document.querySelector('[name="create_date"]').value;
            var typeOfSaving = document.querySelector('[name="tos"]').value;
            var rate = document.querySelector('[name="interest-rate"]').value;
            var money = document.querySelector('[name="money"]').value;

            if (cusID === '' || name === '' || address === '' || createDate === '' || typeOfSaving === '' || money === '') {
                alert('Please fill out all fields.');
                return;
            }

            document.getElementById('confirmCId').innerText = 'Customer ID Card: ' + cusID;
            document.getElementById('confirmName').innerText = 'Customer Name: ' + name;
            document.getElementById('confirmAddress').innerText = 'Customer Address: ' + address;
            document.getElementById('confirmCreateDate').innerText = 'Date Create Account: ' + createDate;
            document.getElementById('confirmTos').innerText = 'Type of Saving: ' + typeOfSaving;
            document.getElementById('confirmRate').innerText = 'Interest Rate: ' + rate;
            document.getElementById('confirmMoney').innerText = 'Money: ' + money + ' VND';

            var popup = document.getElementById('pop-up');
            popup.style.display = "block";
        }

        function closePopup() {
            var popup = document.getElementById('pop-up');
            popup.style.display = "none";
        }

        function submitForm() {
            document.getElementById('myForm').submit();
        }

        document.getElementById('tos-input').addEventListener('change', function () {
            var typeOfSaving = this.value;
            console.log(typeOfSaving);
            if (typeOfSaving !== "") {
                console.log('Calling API with type:', typeOfSaving);
                fetch('/create/api/getInterestRate?type=' + typeOfSaving)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Raw Data:', data);
                        document.getElementById('rate').value = data.interestRate + '%';
                    })
                    .catch(error => {
                        console.error('Error fetching interest rate:', error);
                        document.getElementById('rate').value = '0.x%';
                    });
            } else {
                document.getElementById('rate').value = '0.x%';
            }
        });
    </script>
</body>

</html>