<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sa.css">
</head>
<body>
    <h1>Saving Account</h1>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <div class="boxes">
        <a id="sa-create-link-box">
            <div class="box">
                <img src="/images/sa/create.png">
                <p>Create new account</p>
            </div>
        </a>
        <a id="sa-edit-link-box">
            <div class="box">
                <img src="/images/sa/edit.png">
                <p>Edit information</p>
            </div>
        </a>
        <a id="sa-deposit-link-box">
            <div class="box">
                <img src="/images/sa/deposit.png">
                <p>Deposit money</p>
            </div>
        </a>
        <a id="sa-withdraw-link-box">
            <div class="box">
                <img src="/images/sa/withdraw.png">
                <p>Withdraw money</p>
            </div>
        </a>
    </div>
    <div class="message-box">
        <img src="/images/sa/email.png">
        <h3>Instruction</h3>
        <h2>Hi! You just receive a new message!</h2>
        <p>
            <span style="color: #16A596; font-weight: bold">Create new account</span>: Enter the customer's personal and account information, 
            click <span style="font-weight: bold">"Create"</span>, review the details in the pop-up window, and if everything 
            is correct, click <span style="font-weight: bold">"Submit"</span>; if adjustments are needed, click <span style="font-weight: bold">"Cancel"</span> to make changes.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Edit information</span>: Enter the ID and click <span style="font-weight: bold">"Edit"</span>. If ID doesn't exist, 
            a pop-up will notify you, and you can click <span style="font-weight: bold">"Return"</span> to check again. 
            If ID exists, make your changes and click <span style="font-weight: bold">"Done"</span>. If the update fails, it will inform you to try again.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Deposit money</span>: Enter the customer’s name and ID, next enter the 
            amount of money needed depositing and click <span style="font-weight: bold">“Deposit”</span>. If system 
            cannot deposit the money, it will inform you to try again.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Withdraw money</span>: Enter the customer’s name and ID, next enter 
            the amount of money needed withdrawing and click <span style="font-weight: bold">“Withdraw”</span>. 
            If system cannot withdraw the money, it will inform you to try again.
        </p>
    </div>
    <script>
        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
            const saCreatePath = "/sa/create";
            const fullSaCreateUrl = `${currentDomain}${saCreatePath}`;
            document.getElementById("sa-create-link-box").href = fullSaCreateUrl;
            const saDepositPath = "/sa/deposit";
            const fullSaDepositUrl = `${currentDomain}${saDepositPath}`;
            document.getElementById("sa-deposit-link-box").href = fullSaDepositUrl;
            const saWithdrawPath = "/sa/withdraw";
            const fullsaWithdrawUrl = `${currentDomain}${saWithdrawPath}`;
            document.getElementById("sa-withdraw-link-box").href = fullsaWithdrawUrl;
            const saEditPath = "/sa/edit";
            const fullSaEditUrl = `${currentDomain}${saEditPath}`;
            document.getElementById("sa-edit-link-box").href = fullSaEditUrl;
        });
    </script>
</body>
</html>