<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sa.css">
</head>
<body>
    <h1>Saving Account</h1>
    <div>
        <a href="http://localhost:3000/contact">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <div class="boxes">
        <a href="http://localhost:3000/sa-create">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/d641/3825/f9cd69ab8e233cc157348ac65f8d2171?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=TZQtGJJP3vr7IZ6sxuKXNxdPRlZ39Fn8y6FIUEZWvj16-vIZC2EpaDlm30kZIrNt-1zwY3eY0V-mT~OfuUdLusQopjl8KZqaaO3NSATl8mFV8k4rNXsDTjxaxxiTt7nmOzaYlE4KaaCFLibWtxYe-J1fXeGHsmhCLliZYQ~A6XuKXG6Hvo-WuacYkHnZ44mO-JbA9Ript1YSyiyNwcnlmuWQZHSSUpl~XVN8-rPr2BjpMr62IUemqugT29pVEnSO~PrEtA5saWGfnFWVuFY2~DTSLCuIVlBqs5PvY4QC7LcmEk86Bdn5aYG4oxZR78DC4RTXyblcpHcf-NtT30UZ4w__">
                <p>Create new account</p>
            </div>
        </a>
        <a href="http://localhost:3000/sa-edit">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/8138/c7f6/2f90873e0926828a7be3518cdcbb1530?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MipiKyTrjTFHEdk4VJGRMCu~oFVONGQgL5Nt-v9mriMfi6cdrTG2CDjSxt2z5tU2e~IcNj6jqS9GU6Ux~hMisN4KcH1L8NrvPgePgrKMt7nQ3WO4cuj974qixmugj75oYgDYST82BWc5mlwWNaCD9qebfQgsIHpwSYGIpVPk8Ly1S7XkFk3SPFtpVIxSObbokIThY0jEs4NM4IvJE7mjrJouNv4lW7X-tEkAJ0gh33WVWohBApGWgP~M3UGi0MsHTJqnVccVIzBq-BPUdnf9aeA0c9DvZuMfteQWtm2i0K~~gvqFjmCHyJSiwm5k8gCrVV2hJygovI3KZx1HTzZYfg__">
                <p>Edit information</p>
            </div>
        </a>
        <a href="http://localhost:3000/sa-deposit">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/1172/17c6/c77bb909f0f89afab76e8e4cea3d14a7?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ip4e-CGeNr5vRa-giz~HSRwucTIDgfSZuCVOCLXPkqW16JH9oEOu3JGcB71VPIQe3BNjCrDolOmNVZQVbv3tG9NpSYxmz2oKwn7tVUoaHZYfIcKWxkyinsoRkm2CiQkZ9F4eI3U6JBNuetFDw1bLiNyMgGKK8LpE0WFoX6WnyFtGxhe5m6XaN~vKr50zlSe0wKUs4MWtk4NqBoL14~9~CnOsdcvVFmfY3ZmssOp0RWYoOVP98vBv4L8MLdiXoBxFwtKxLUFcQ1FHZQ4S-rDWdp7k~5ftovQEuFqgHlatq6jFMxej4QQMlSPVH~Oku73DSaZo~V0PCzoIAS3-C3EfPw__">
                <p>Deposit money</p>
            </div>
        </a>
        <a href="http://localhost:3000/sa-withdraw">
            <div class="box">
                <img src="https://s3-alpha-sig.figma.com/img/2a18/45cf/aca8cdbd0a80926077ca5bfcf8c1ad44?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=WcSVvvelvGhCH4i0IlxbkNTPLMMIM2xhB6II9d5jVuL09sPbXs~qQXYV-LecdVFT8bgerfHjPq~KYgNjAU4qLyrNcd~0tqNWdV1bEGZvoY0Bt1-ubnaTsUhPZlP5vDiK8y5FF2GCArzifOOioV-3C1LesgaT-upJQD-LHZTThVTOgEhKEv9d6Ar88t-lOZd6iH3sn26Fq6jkfsOAXzC66KXzUNy26o8fN~BnRXH3DCr2dQW2b1oiIhPwbuE1LKiGtJk1ha6mhS3H-pJ4dS6iyBHRqyRSMrpRT~A7ObIMkvPrqMdLcqhyRbOpb5GEcQMVALVMNz3~rtaqR50u86uqZQ__">
                <p>Withdraw money</p>
            </div>
        </a>
    </div>
    <div class="message-box">
        <img src="https://s3-alpha-sig.figma.com/img/83ac/922c/53ff8a2a4858f8a501318625c2e563ff?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GWBEektMkx6VsD08hEBKJFqaqGH0bPdxiee7iqkGFLo-iOmLX3SA~SOD55d8O~~IKa5vrH~DvbaWdeIhRknrjxdfsE4EJT6q-xClFRKPrPRnNoTjWPgZJNqd19PWUO7IIf68xR2g3AwUfl7HGpHbPkaMXn1zyPBTMct9Eb3IzHPo9LiscnukS-s4iEq8sVXS5XoJ6dt5Vfb8jfL16JW-KjFvMipInaoccOUHXTY~K2j1O6w35K-7QgtBvnYYT5zjg~DaVBIlT7om4PMLufP7EoNMpVKh59b3ndLoMc23HYEEOqNqhNIIYxAI-4imHyuElU5YqNUyMpywVjs~j~gezg__">
        <h3>Instruction</h3>
        <h2>Hi! You just receive a new message!</h2>
        <p>
            <span style="color: #16A596; font-weight: bold">Create new account</span>: Enter the customer's personal and account information, 
            click <span style="font-weight: bold">"Create"</span>, review the details in the pop-up window, and if everything 
            is correct, click <span style="font-weight: bold">"Submit"</span>; if adjustments are needed, click <span style="font-weight: bold">"Cancel"</span> to make changes.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Edit information</span>: Enter the ID and click <span style="font-weight: bold">"Edit"</span>. If ID doesn't exist, 
            a pop-up will notify you, and you can click <span style="font-weight: bold">"Return"</span> to check again. 
            If ID exists, make your changes and click <span style="font-weight: bold">"Done"</span>. If the update fails, it will inform you to try again.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Deposit money</span>: Enter the customer’s name and ID, next enter the 
            amount of money needed depositing and click <span style="font-weight: bold">“Deposit”</span>. If system 
            cannot deposit the money, it will inform you to try again.
        </p>
        <p>
            <span style="color: #16A596; font-weight: bold">Withdraw money</span>: Enter the customer’s name and ID, next enter 
            the amount of money needed withdrawing and click <span style="font-weight: bold">“Withdraw”</span>. 
            If system cannot withdraw the money, it will inform you to try again.
        </p>
    </div>
</body>
</html>