<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div>
            <h2>Create new account</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a href="http://localhost:3000/contact">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Customer's information</legend>
            <div class="form-group">
                <span>Customer's ID card</span>
                <img
                    src="https://s3-alpha-sig.figma.com/img/322e/abb9/8f9d08e405e2f5fef7c23821052df891?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z~DgUeN~tpMmu0rJhnnU2GIr9xSIhVkLFWobeq2YC1aiIln7gKI-S1nMmn7F7GAfe8xVEmaA3lMMl9TskBsPExubhl7Myw42dj~7GOgDbZh1m~f6xev0IaSP3rn7RPG98dzEG00BEdQ7YhdPIeAhSmC86H8dsEGar-dyPos6J9EQSbZiI6QH2AiU51ynUivDFLRqeniysZmGvr~mPB2G13d4smyXyCVcIJ2-nW7v6RZn1sPSgqWnfDOpvUtEk17a8Edxg0R~rlxA~3s6rgpIBExpWr1Wq679Mdn97Y5LGHLnrzVfyNlhSRFi3NIhSeRvcjUxxthmAdBy8WHQk4S7OA__">
                <input type="number" name="id_card" class="form-control" placeholder="123456789"
                    title="ID must have 9 numbers" required>
            </div>
            <div class="form-group">
                <span>Customer's name</span>
                <input type="text" name="customer_name" class="form-control" placeholder="Nguyễn Văn A" pattern="[A-Za-zÀ-ỹ\s]+">
            </div>
            <div class="form-group address-box">
                <span>Customer's address</span>
                <input type="text" name="customer_address" class="form-control" placeholder="Số nhà, Đường, Phường/Xã/Thị trấn, Quận/Huyện, Tỉnh/Thành phố">
            </div>
        </fieldset>
        <fieldset class="account-information">
            <legend>Account's information</legend>
            <div class="form-group">
                <span>ID Account</span>
                <input type="text" name="id_account" class="form-control" placeholder="MS0000000001" disabled>
            </div>
            <div class="form-group">
                <span>Date create account</span>
                <input type="date" name="date_created" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <span>Money (VND)</span>
                <input type="text" name="money" class="form-control" placeholder="100,000">
            </div>
            <div class="form-group">
                <span>Type of saving</span>
                <select name="type_of_saving" class="form-control" id="tos-input">
                    <option value="">--Type of saving--</option>
                    <option value="3 months">3 months</option>
                    <option value="6 months">6 months</option>
                    <option value="Non-term">Non-term</option>
                </select>
            </div>
            <div class="form-group">
                <span>Interest rate</span>
                <input id="rate" name="interest-rate" type="text" class="form-control" value="0.x%" disabled>
            </div>
        </fieldset>
        <button type="button" id="submit-button" class="button" onclick="confirmSubmit()">Create</button>
    </form>

    <div id="pop-up" class="pop-up">
        <div class="pop-up-content">
            <div>
                <h2>Preview Information</h2>
                <img
                    src="https://s3-alpha-sig.figma.com/img/905d/6ebd/74d1536c6813b3efa90f75a5bd6b8659?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XI2-bfc8lyRFYXWD998iKxlWqdtAuIl7i3Vp7HXnpZ5syYra2kIKI5zd0QW3KQkcR05ANQdxWDXVy40Kv~avUA5uhJucmhtk1bbcH8gfiy2l9PJN05Uwjd0i3zHuxgxWcEfqH5IgG4XXkbBTKn1688E1-JV6-wzhrW1Rjx1I4dvkMIs40DKTJTZdBivVKDTymai9bRW4zgFNx0i1h3m~hlNkgronQvy7f5vSUsj2iiPVvPwi9fdZFwATgCKLB-f6F7WHv7giB6f22FV8UkayVeZoUOoP0Ld3px8H79VLSFUA~dtFTTAXoLCBRrKqP1d6hsT5EbY0z6h0daYUhvg5jw__">
            </div>
            <legend>Customer's Information</legend>
            <p id="confirmCId"></p>
            <p id="confirmName"></p>
            <p id="confirmAddress"></p>
            <legend>Account's Information</legend>
            <p id="confirmIDAccount">ID Account: MS00001</p>
            <p id="confirmCreateDate"></p>
            <p id="confirmTos"></p>
            <p id="confirmRate"></p>
            <p id="confirmMoney"></p>
            <div class="buttons">
                <button class="button" onclick="submitForm()">Submit</button>
                <button class="button" onclick="closePopup()">Cancel</button>
            </div>
        </div>
    </div>

    <div id="noti-pop-up" class="noti-pop-up">
        <div class="noti-pop-up-content">
            <div>
                <h2 id="success-message">Create Successfully</h2>
                <h2 id="fail-message">Create Fail</h2>
                <img id="success-icon"
                    src="https://s3-alpha-sig.figma.com/img/d9e2/8b99/f1308a9ef3cd45b22fa2b82a3270c28b?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=U4FY3MMHYdauC7UnR6s~KN7kJNIhZkWJlpiIv4OBX3vIlV-6GA4n2pEHB3GMuEGTj-KVkZH4w1~5NCL98Hln9~K86-EQXOCssXQ6WkNa8Xtx2qLGt01IJgkwHZRUmujAtxhOaZrIPLHHllGC3hYCn2ShGr1YSbLvugJkE7Cm6m2bQMPaiZCAdHb0gPRX6VmaKaUa3pDhu2j~EAMRDRs7lQka1x8TI7evkB5oJJ~4S5CA2SLa4u5sh9vvgNwBxF~cYtwKYyzTtipkWonyORgOtjZ2tnfF8ADEXx9d8glyegBEIIrin0YbFwwCgdpdrtrstCpn5L1bq8AMcmeRIlP0EQ__">
                <img class="fail-icon" 
                    src="https://s3-alpha-sig.figma.com/img/88f7/883c/0f4387784809f69cebf2f4105618145e?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HoD9IljMYu1p6QHzOTviIDaRH2Puk8lZK67qvHxgCbqpbsVlAVPsMyRSVmdqY59keKNSoJ4Mtn1dhljfW5wN-VA6Ymcudo6korV5ZaDBUUlqGv-Qx9-oUxIsgvhTrNhtnwPK-9OQmxBcyRiDLMFoSLA1FAlfLTrvwXoV7oYedlXzAT7rXFXe7Ma4qGjlFFAUMpGfjl17tD9Zx3V~xQsMyG7nxpCZwwShSpJdD~rf4nTkQGY~g5N~l5xchkyK6GqUrYCskwzRF8WsAu1gg3yCVwpX4UZR~Y-3X1aKzLsO53x6L84eNalgtYywX4PlXwYurE8WDexMjx9O8Gf64JG2Ag__">
            </div> 
            <button class="button" onclick="closeNotiPopup()">Close</button>
        </div>   
    </div>

    <script>
        function confirmSubmit() {
            var cusID = document.querySelector('[name="id_card"]').value;
            var name = document.querySelector('[name="customer_name"]').value;
            var address = document.querySelector('[name="customer_address"]').value;
            var createDate = document.querySelector('[name="date_created"]').value;
            var typeOfSaving = document.querySelector('[name="type_of_saving"]').value;
            var rate = document.querySelector('[name="interest-rate"]').value;
            var money = document.querySelector('[name="money"]').value;

            if (cusID === '' || name === '' || address === '' || createDate === '' || typeOfSaving === '' || money === '') {
                alert('Please fill out all fields.');
                return;
            }

            document.getElementById('confirmCId').innerText = 'Customer ID Card: ' + cusID;
            document.getElementById('confirmName').innerText = 'Customer Name: ' + name;
            document.getElementById('confirmAddress').innerText = 'Customer Address: ' + address;
            document.getElementById('confirmCreateDate').innerText = 'Date Create Account: ' + createDate;
            document.getElementById('confirmTos').innerText = 'Type of Saving: ' + typeOfSaving;
            document.getElementById('confirmRate').innerText = 'Interest Rate: ' + rate;
            document.getElementById('confirmMoney').innerText = 'Money: ' + money + ' VND';

            var popup = document.getElementById('pop-up');
            popup.style.display = "block";
        }

        function closePopup() {
            var popup = document.getElementById('pop-up');
            popup.style.display = "none";
        }

        function closeNotiPopup() {
            var popup = document.getElementById('noti-pop-up');
            popup.style.display = "none";
        }

        function submitForm() {
            document.getElementById('myForm').submit();
            closePopup();
            const mes = "success";
            console.log(mes);
            var popup = document.getElementById('noti-pop-up');
            popup.style.display = "block";
            if(mes == "success")
            {
                document.getElementById('success-icon').style.display = "inline";
                document.getElementById('fail-icon').style.display = "none";
                document.getElementById('success-message').style.display = "inline";
                document.getElementById('fail-message').style.display = "none";
            }
            else if (mes == "fail")
            {
                document.getElementById('success-icon').style.display = "none";
                document.getElementById('fail-icon').style.display = "inline";
                document.getElementById('success-message').style.display = "none";
                document.getElementById('fail-message').style.display = "inline";
            }
            else
            {
                document.getElementById('success-icon').style.display = "none";
                document.getElementById('fail-icon').style.display = "none";
                document.getElementById('success-message').style.display = "none";
                document.getElementById('fail-message').style.display = "none";
            }
        }

        document.getElementById('tos-input').addEventListener('change', function () {
            var typeOfSaving = this.value;
            console.log(typeOfSaving);
            if (typeOfSaving !== "") {
                console.log('Calling API with type:', typeOfSaving);
                fetch('/sa-create/getInterestRate?type=' + typeOfSaving)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Raw Data:', data);
                        document.getElementById('rate').value = data.interestRate + '%';
                    })
                    .catch(error => {
                        console.error('Error fetching interest rate:', error);
                        document.getElementById('rate').value = '0.x%';
                    });
            } else {
                document.getElementById('rate').value = '0.x%';
            }
        });
    </script>
</body>

</html>