<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/deposit.css">
</head>

<body>
    <div class="header">
        <div>
            <h2>Deposit Money</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Customer's information</legend>
            <div class="form-group">
                <span>Customer's name</span>
                <input id="customer_name" type="text" name="customer_name" class="form-control" readonly>
            </div>
        </fieldset>
        <fieldset class="account-information">
            <legend>Account's information</legend>
            <div class="form-group">
                <span>ID Account</span>
                <input id="id_account" type="text" name="id_account" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Type of saving</span>
                <input id="type_of_saving" type="text" name="type_of_saving" class="form-control" placeholder="Non-term"
                    readonly>
            </div>
            <div class="form-group">
                <span>Interest rate (%)</span>
                <input id="interest_rate" name="interest_rate" type="text" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Current amount (VND)</span>
                <input id="balance" name="current_amount" type="text" class="form-control" readonly>
            </div>
        </fieldset>
        <fieldset class="deposit-information">
            <legend>Deposit information</legend>
            <div class="form-group">
                <span>Money deposited (VND)</span>
                <input id="money_deposit" type="money" name="money_deposit" class="form-control"
                    placeholder="100,000,000" required>
            </div>
            <div class="form-group">
                <span>Deposit date</span>
                <input type="date" name="deposit_date" class="form-control" required>
            </div>
        </fieldset>
        <button type="button" id="deposit-button" class="button" onclick="confirmSubmit()">Deposit</button>
    </form>
    <div id="pop-up" class="pop-up">
        <div class="pop-up-content">
            <div>
                <h2>Preview Information</h2>
                <img src="/images/popup/doublecheck.png">
            </div>
            <legend>Customer's Information</legend>
            <p id="confirmCId"></p>
            <p id="confirmName"></p>
            <p id="confirmAddress"></p>
            <legend>Account's Information</legend>
            <p id="confirmIDAccount"></p>
            <p id="confirmCreateDate"></p>
            <p id="confirmTos"></p>
            <p id="confirmRate"></p>
            <p id="confirmCurrentAmount"></p>
            <legend>Deposit Information</legend>
            <p id="confirmDepositedMoney"></p>
            <p id="confirmDepositDate"></p>
            <div class="buttons">
                <button class="button" onclick="submitForm()">Submit</button>
                <button class="button" onclick="closePopup()">Cancel</button>
            </div>
        </div>
    </div>

    <div id="noti-pop-up" class="noti-pop-up">
        <div class="noti-pop-up-content">
            <div>
                <div>
                    <h2 id="success-message">Deposited Successfully!</h2>
                </div>
                <div>
                    <h2 id="fail-message">Failed to Deposit!</h2>
                </div>
            </div>
            <div>
                <img id="success-icon" src="/images/popup/success.png">
                <img id="fail-icon" src="/images/popup/fail.png">
            </div>
            <button id="pop-up-button" class="button" onclick="closeNotiPopup()">Close</button>
        </div>
    </div>

    <script>
        function confirmSubmit() {
            var money_deposit = document.querySelector('[name="money_deposit"]').value;
            var deposit_date = document.querySelector('[name="deposit_date"]').value;

            document.getElementById('confirmDepositDate').innerText = 'Deposit date: ' + deposit_date;
            document.getElementById('confirmDepositedMoney').innerText = 'Money deposited: ' + money_deposit + ' VND';
            var popup = document.getElementById('pop-up');
            popup.style.display = "block";
        }

        function closePopup() {
            var popup = document.getElementById('pop-up');
            popup.style.display = "none";
        }

        function closeNotiPopup() {
            var popup = document.getElementById('noti-pop-up');
            popup.style.display = "none";
        }

        function submitForm() {
            closePopup();
            const form = document.getElementById('myForm');
            const formData = new FormData(form);

            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });

            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formObject)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    // Hiển thị pop-up
                    var popup = document.getElementById('noti-pop-up');
                    popup.style.display = "block";

                    // Kiểm tra thông điệp trả về từ server 
                    if (data.message == "success") {
                        document.getElementById('success-icon').style.display = "inline";
                        document.getElementById('fail-icon').style.display = "none";
                        document.getElementById('success-message').style.display = "inline";
                        document.getElementById('fail-message').style.display = "none";
                    } else if (data.message == "fail") {
                        document.getElementById('success-icon').style.display = "none";
                        document.getElementById('fail-icon').style.display = "inline";
                        document.getElementById('success-message').style.display = "none";
                        document.getElementById('fail-message').style.display = "inline";
                    } else {
                        document.getElementById('success-icon').style.display = "none";
                        document.getElementById('fail-icon').style.display = "none";
                        document.getElementById('success-message').style.display = "none";
                        document.getElementById('fail-message').style.display = "none";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Ngăn form khỏi việc submit thông thường
            return false;
        }

        // Redirect
        document.addEventListener("DOMContentLoaded", function () {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;

            const params = new URLSearchParams(window.location.search);

            // Get data account and display to screen
            const accountData = {
                id_account: params.get('id_account'),
                id_card: params.get('id_card'),
                customer_name: params.get('customer_name'),
                customer_address: params.get('customer_address'),
                date_created: params.get('date_created'),
                type_of_saving: params.get('type_of_saving'),
                interest_rate: params.get('interest_rate'),
                balance: params.get('balance')
            };

            document.getElementById('id_account').value = accountData.id_account;
            document.getElementById('customer_name').value = accountData.customer_name;
            document.getElementById('type_of_saving').value = accountData.type_of_saving;
            document.getElementById('interest_rate').value = accountData.interest_rate;
            document.getElementById('balance').value = accountData.balance;

            document.getElementById('confirmCId').innerText = 'Customer ID Card: ' + accountData.id_card;
            document.getElementById('confirmName').innerText = 'Customer Name: ' + accountData.customer_name;
            document.getElementById('confirmAddress').innerText = 'Customer Address: ' + accountData.customer_address;
            document.getElementById('confirmIDAccount').innerText = 'ID Account: ' + accountData.id_account;
            document.getElementById('confirmCreateDate').innerText = 'Date Create Account: ' + accountData.date_created.slice(0, 10);
            document.getElementById('confirmTos').innerText = 'Type of Saving: ' + accountData.type_of_saving;
            document.getElementById('confirmRate').innerText = 'Interest Rate: ' + accountData.interest_rate + '%';
            document.getElementById('confirmCurrentAmount').innerText = 'Current Amount: ' + accountData.balance + ' VND';
        });

    </script>
</body>

</html>