<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/deposit.css">
</head>
<body>
    <div class="header">
        <div>
            <h2>Deposit Money</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Search for account</legend>
            <div class="form-group">
                <span>Type ID Account</span>
                <img src="/images/valid-icon/valid.png">
                <input type="text" name="id_account" class="form-control" placeholder="MSxxxxx" required>
            </div>
        </fieldset>
        <button id="submit-button" class="button" onclick="">Search</button>
    </form>
    <div class="message-box">
        <img id="message-box-icon" src="/images/sa/bulb.png">
        <img src="/images/sa/girl.png">
        <h2>Tips for you</h2>
        <p>Do not make mistakes while entering information.</p>
    </div>
    <script>
        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
        });
    </script>
</body>
</html>