<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div>
            <h2>Edit information</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="PUT">
        <fieldset class="customer-information">
            <legend>Customer's information</legend>
            <div class="form-group">
                <span>Customer's ID card</span>
                <input type="number" name="id_card" class="form-control" placeholder="123456789"
                    title="ID must have 9 numbers" disabled>
            </div>
            <div class="form-group">
                <span>Customer's name</span>
                <input type="text" name="customer_name" class="form-control" placeholder="Nguyễn Văn A"
                    pattern="[A-Za-zÀ-ỹ\s]+">
            </div>
            <div class="form-group address-box">
                <span>Customer's address</span>
                <input type="text" name="customer_address" class="form-control"
                    placeholder="Số nhà, Đường, Phường/Xã/Thị trấn, Quận/Huyện, Tỉnh/Thành phố">
            </div>
        </fieldset>
        <fieldset class="account-information">
            <legend>Account's information</legend>
            <div class="form-group">
                <span>ID Account</span>
                <input type="text" name="id_account" class="form-control" placeholder="MS0000000001" disabled>
            </div>
            <div class="form-group">
                <span>Date create account</span>
                <input type="date" name="date_created" class="form-control" placeholder="" disabled>
            </div>
            <div class="form-group">
                <span>Money (VND)</span>
                <input type="text" name="money" class="form-control" placeholder="100,000" disabled>
            </div>
            <div class="form-group">
                <span>Type of saving</span>
                <select name="type_of_saving" class="form-control" id="tos-input" disabled>
                    <option value="">--Type of saving--</option>
                    <option value="3 thang">3 months</option>
                    <option value="6 thang">6 months</option>
                    <option value="Khong thoi han">Non-term</option>
                </select>
            </div>
            <div class="form-group">
                <span>Interest rate</span>
                <input id="rate" name="interest_rate" type="text" class="form-control" value="0.x%" disabled>
            </div>
        </fieldset>
        <button type="button" id="submit-button" class="button" onclick="confirmSubmit()">Edit</button>
    </form>
    <div id="pop-up" class="pop-up">
        <div class="pop-up-content">
            <div>
                <span class="close" onclick="closePopup()">&times;</span>
                <h2>Preview Information</h2>
                <img
                    src="/images/popup/doublecheck.png">
            </div>
            <legend>Customer's Information</legend>
            <p id="confirmCId"></p>
            <p id="confirmName"></p>
            <p id="confirmAddress"></p>
            <legend>Account's Information</legend>
            <p id="confirmIDAccount">ID Account: MS0000000001</p>
            <p id="confirmCreateDate"></p>
            <p id="confirmTos"></p>
            <p id="confirmRate"></p>
            <p id="confirmMoney"></p>
            <div class="buttons">
                <button class="button" onclick="submitForm()">Submit</button>
                <button class="button" onclick="closePopup()">Cancel</button>
            </div>
        </div>
    </div>
    <script>
        function confirmSubmit() {
            var cusID = document.querySelector('[name="id_card"]').value;
            var name = document.querySelector('[name="customer_name"]').value;
            var address = document.querySelector('[name="customer_address"]').value;
            var createDate = document.querySelector('[name="date_created"]').value;
            var typeOfSaving = document.querySelector('[name="type_of_saving"]').value;
            var rate = document.querySelector('[name="interest_rate"]').value;
            var money = document.querySelector('[name="money"]').value;

            if (cusID === '' || name === '' || address === '' || createDate === '' || typeOfSaving === '' || money === '') {
                alert('Please fill out all fields.');
                return;
            }

            document.getElementById('confirmCId').innerText = 'Customer ID Card: ' + cusID;
            document.getElementById('confirmName').innerText = 'Customer Name: ' + name;
            document.getElementById('confirmAddress').innerText = 'Customer Address: ' + address;
            document.getElementById('confirmCreateDate').innerText = 'Date Create Account: ' + createDate;
            document.getElementById('confirmTos').innerText = 'Type of Saving: ' + typeOfSaving;
            document.getElementById('confirmRate').innerText = 'Interest Rate: ' + rate;
            document.getElementById('confirmMoney').innerText = 'Money: ' + money + ' VND';

            var popup = document.getElementById('pop-up');
            popup.style.display = "block";
        }

        function closePopup() {
            var popup = document.getElementById('pop-up');
            popup.style.display = "none";
        }

        function submitForm() {
            document.getElementById('myForm').submit();
        }

        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
        });
    </script>
</body>

</html>