<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <div>
            <h2>Edit information</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Customer's information</legend>
            <div class="form-group">
                <span>Customer's ID card</span>
                <input id="id_card" type="number" name="id_card" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Customer's name</span>
                <img src="/images/valid-icon/valid.png" id="valid_name">
                <img src="/images/valid-icon/invalid.png" id="invalid_name">
                <input id="name" type="text" name="customer_name" class="form-control">
                <p class="error-message" id="name_error_message">Must be letters</p>
            </div>
            <div class="form-group address-box">
                <span>Customer's address</span>
                <img src="/images/valid-icon/valid.png" id="valid_address">
                <img src="/images/valid-icon/invalid.png" id="invalid_address">
                <input id="address" type="text" name="customer_address" class="form-control"
                    placeholder="Số nhà, Đường, Phường/Xã/Thị trấn, Quận/Huyện, Tỉnh/Thành phố">
                <p class="error-message" id="address_error_message">Cannot be empty</p>
            </div>
        </fieldset>
        <fieldset class="account-information">
            <legend>Account's information</legend>
            <div class="form-group">
                <span>ID Account</span>
                <input id="id_account" type="text" name="id_account" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Date create account</span>
                <input id="date" type="date" name="date_created" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Money (VND)</span>
                <input id="money" type="text" name="money" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Type of saving</span>
                <input name="type_of_saving" class="form-control" id="tos-input" readonly>
                </input>
            </div>
            <div class="form-group">
                <span>Interest rate</span>
                <input id="rate" name="interest_rate" type="text" class="form-control" readonly>
            </div>
        </fieldset>
        <button type="button" id="submit-button" class="button" onclick="confirmSubmit()">Edit</button>
    </form>
    <div id="pop-up" class="pop-up">
        <div class="pop-up-content">
            <div>
                <h2>Preview Information</h2>
                <img src="/images/popup/doublecheck.png">
            </div>
            <legend>Customer's Information</legend>
            <p id="confirmCId"></p>
            <p id="confirmName"></p>
            <p id="confirmAddress"></p>
            <legend>Account's Information</legend>
            <p id="confirmIDAccount"></p>
            <p id="confirmCreateDate"></p>
            <p id="confirmTos"></p>
            <p id="confirmRate"></p>
            <p id="confirmMoney"></p>
            <div class="buttons">
                <button class="button" onclick="submitForm()">Submit</button>
                <button class="button" onclick="closePopup()">Cancel</button>
            </div>
        </div>
    </div>
    <div id="noti-pop-up" class="noti-pop-up">
        <div class="noti-pop-up-content">
            <div>
                <h2 id="success-message">Editted Successfully!</h2>
            </div>
            <div>
                <h2 id="fail-message">Failed to Edit!</h2>
                <br>
                <h2 id="fail-message2">Something went wrong.</h2>
            </div>
            <div>
                <img id="success-icon" src="/images/popup/success.png">
                <img id="fail-icon" src="/images/popup/fail.png">
            </div>
            <button id="pop-up-button" class="button" onclick="closeNotiPopup()">Close</button>
        </div>
    </div>
    <script>
        var isNameValid = true;
        var isAddressValid = true;

        function changeDateFormat(inputDate) {
            var date = new Date(inputDate);
            var day = date.getDate() < 10 ? '0'+date.getDate() : date.getDate();
            var month = (date.getMonth() + 1) < 10 ? '0'+(date.getMonth() + 1) : (date.getMonth() + 1);
            var year = date.getFullYear();
            return day + '-' + month + '-' + year;
        }

        function confirmSubmit() {
            if (isNameValid && isAddressValid) {
                var name = document.querySelector('[name="customer_name"]').value;
                var address = document.querySelector('[name="customer_address"]').value;;

                document.getElementById('confirmName').innerText = 'Customer Name: ' + name;
                document.getElementById('confirmAddress').innerText = 'Customer Address: ' + address;
                var popup = document.getElementById('pop-up');
                popup.style.display = "block";
            }
            else {
                return;
            }
        }

        function closePopup() {
            var popup = document.getElementById('pop-up');
            popup.style.display = "none";
        }

        function closeNotiPopup() {
            var popup = document.getElementById('noti-pop-up');
            popup.style.display = "none";
            if(document.getElementById('success-icon').style.display == "inline")
                window.location.href = "/sa/edit";
        }

        function submitForm() {
            closePopup();
            document.getElementById('money').value = document.getElementById('money').value.replace(/,/g, '');
            const form = document.getElementById('myForm');
            const formData = new FormData(form);

            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });

            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formObject)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    // Hiển thị pop-up
                    var popup = document.getElementById('noti-pop-up');
                    popup.style.display = "block";

                    if (data.message == "success") {
                        document.getElementById('success-icon').style.display = "inline";
                        document.getElementById('fail-icon').style.display = "none";
                        document.getElementById('success-message').style.display = "inline";
                        document.getElementById('fail-message').style.display = "none";
                        document.getElementById('fail-message2').style.display = "none";
                    } else if (data.message == "fail") {
                        document.getElementById('success-icon').style.display = "none";
                        document.getElementById('fail-icon').style.display = "inline";
                        document.getElementById('success-message').style.display = "none";
                        document.getElementById('fail-message').style.display = "inline";
                        document.getElementById('fail-message2').style.display = "inline";
                    } else {
                        document.getElementById('success-icon').style.display = "none";
                        document.getElementById('fail-icon').style.display = "none";
                        document.getElementById('success-message').style.display = "none";
                        document.getElementById('fail-message').style.display = "none";
                        document.getElementById('fail-message2').style.display = "none";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Ngăn form khỏi việc submit thông thường
            return false;
        }

        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;

            const params = new URLSearchParams(window.location.search);

            // Get data account and display to screen
            const accountData = {
                id_account: params.get('id_account'),
                id_card: params.get('id_card'),
                customer_name: params.get('customer_name'),
                customer_address: params.get('customer_address'),
                date_created: params.get('date_created'),
                type_of_saving: params.get('type_of_saving'),
                interest_rate: params.get('interest_rate'),
                interest: params.get('interest'),
                apply_date: params.get('apply_date'),
                init_money: params.get('init_money')
            };

            document.getElementById('id_card').value = accountData.id_card;
            document.getElementById('id_account').value = accountData.id_account;
            document.getElementById('name').value = accountData.customer_name;
            document.getElementById('address').value = accountData.customer_address;
            document.getElementById('tos-input').value = accountData.type_of_saving;
            document.getElementById('date').value = accountData.date_created.slice(0, 10);
            document.getElementById('rate').value = accountData.interest_rate;
            document.getElementById('money').value = accountData.init_money;

            document.getElementById('confirmCId').innerText = 'Customer ID Card: ' + accountData.id_card;
            document.getElementById('confirmName').innerText = 'Customer Name: ' + accountData.customer_name;
            document.getElementById('confirmAddress').innerText = 'Customer Address: ' + accountData.customer_address;
            document.getElementById('confirmIDAccount').innerText = 'ID Account: ' + accountData.id_account;
            document.getElementById('confirmCreateDate').innerText = 'Date Create Account: ' + changeDateFormat(accountData.date_created.slice(0, 10));
            document.getElementById('confirmTos').innerText = 'Type of Saving: ' + accountData.type_of_saving;
            document.getElementById('confirmRate').innerText = 'Interest Rate: ' + accountData.interest_rate + '%';
            document.getElementById('confirmMoney').innerText = 'Money: ' + accountData.init_money + ' VND';
        });

        // Valid input
        document.getElementById('name').addEventListener('input', function () {
            const regex = /^[A-Za-zÀ-ỹ\s]+$/;
            if (regex.test(this.value)) {
                document.getElementById('name_error_message').style.display = 'none';
                document.getElementById('valid_name').style.display = "inline";
                document.getElementById('invalid_name').style.display = "none";
                isNameValid = true;
            }
            else {
                document.getElementById('name_error_message').style.display = 'inline';
                document.getElementById('valid_name').style.display = "none";
                document.getElementById('invalid_name').style.display = "inline";
                isNameValid = false;
            }
        });

        document.getElementById('address').addEventListener('input', function () {
            const regex = /^[A-Za-zÀ-ỹ0-9,\s]+$/;
            if (regex.test(this.value)) {
                document.getElementById('address_error_message').style.display = 'none';
                document.getElementById('valid_address').style.display = "inline";
                document.getElementById('invalid_address').style.display = "none";
                isAddressValid = true;
            }
            else {
                document.getElementById('address_error_message').style.display = 'inline';
                document.getElementById('valid_address').style.display = "none";
                document.getElementById('invalid_address').style.display = "inline";
                isAddressValid = false;
            }
        });
    </script>
</body>

</html>