<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="header">
        <div>
            <h2>Edit information</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a href="http://localhost:3000/contact">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Search for account</legend>
            <div class="form-group">
                <span>Type ID Account</span>
                <img
                    src="https://s3-alpha-sig.figma.com/img/322e/abb9/8f9d08e405e2f5fef7c23821052df891?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Z~DgUeN~tpMmu0rJhnnU2GIr9xSIhVkLFWobeq2YC1aiIln7gKI-S1nMmn7F7GAfe8xVEmaA3lMMl9TskBsPExubhl7Myw42dj~7GOgDbZh1m~f6xev0IaSP3rn7RPG98dzEG00BEdQ7YhdPIeAhSmC86H8dsEGar-dyPos6J9EQSbZiI6QH2AiU51ynUivDFLRqeniysZmGvr~mPB2G13d4smyXyCVcIJ2-nW7v6RZn1sPSgqWnfDOpvUtEk17a8Edxg0R~rlxA~3s6rgpIBExpWr1Wq679Mdn97Y5LGHLnrzVfyNlhSRFi3NIhSeRvcjUxxthmAdBy8WHQk4S7OA__">
                <input type="text" name="id_account" class="form-control" placeholder="MSxxxxx" required>
            </div>
        </fieldset>
        <button id="submit-button" class="button" onclick="">Search</button>
    </form>
    <div class="message-box">
        <img id="message-box-icon" src="https://s3-alpha-sig.figma.com/img/ce00/1f57/9bde5697283e8e8c617c2844c3491c3c?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PjS889YFAHrzHjIkwF9UMcAhLJzhQoi6QfjWIsMth7DUwXaau4ovMLOHPJw4jA8z1dWprcWc8T8wd3aoQpMWiSvNldGlu5p5lmsHSLvmUS~H5sVnjUZi5Ipe7ON2nz-nktf-Voq~4qgcePYfDPSPAi7c1czPE1P5~CGA~YrHkquJzD8q-p~e4Ed8NDMoOLQDW6FtEIqWAKy47jybUdHn44rfsBnqiAqsu2iETHBVyGHo~0EpXSrvC63RnEXNTcMej62glb7c1QKXOEcA9t1V4xQkFBWi4mYJ-nTWMa0O1hg9YK5Fi5JZOr6pncsNuo-3v77SClWC8uKxT9LTryMjmw__">
        <img src="https://s3-alpha-sig.figma.com/img/94e0/f15c/0560f7bd0e31fa8676fd4cdc70e17e6c?Expires=1724025600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nuPOpU9IlOf53xlFFzqIfwk9nRq7Cy-JzgFurVYDGP1SGSuVOwoZLZyMoAMujIY4ceyGUMhwWQMMtqLAJuMBPFTXhZT4xKGrodbwzlSz1lvQzSd3sAzGcWOOgg~g6l~zefDa0gvokDCXUHFavoFjQNv5NQN3eBhf8-qp069-aKpjTQ4C8~tGO3gfz7dhgZMaPc6z3i6lQodfJhVYziLTyZ5J~pk-WTenyi4D3Et-PX7rbt~aJtry1J1XA12OmTlSmJxvHhn5B1HMa84xu7gXEBkwkjzO-1vhPBAjyn4ptRmAIGT5FfJcQjhCuSoGMMzI~kv6WA~MQcXWL9i5T365bg__">
        <h2>Tips for you</h2>
        <p>Do not make mistakes while entering information.</p>
    </div>
</body>
</html>