<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/withdraw.css">
</head>

<body>
    <div class="header">
        <div>
            <h2>Withdraw Money</h2>
        </div>
        <div>
            <h1>Saving Account</h1>
        </div>
    </div>
    <div>
        <a id="contact-link">
            <button class="button" id="contact-button">Contact</button>
        </a>
    </div>
    <form id="myForm" method="POST">
        <fieldset class="customer-information">
            <legend>Customer's information</legend>
            <div class="form-group">
                <span>Customer's name</span>
                <input id="customer_name" type="text" name="customer_name" class="form-control" readonly>
            </div>
        </fieldset>
        <fieldset class="account-information">
            <legend>Account's information</legend>
            <div class="form-group">
                <span>ID Account</span>
                <input id="id_account" type="text" name="id_account" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Type of saving</span>
                <input id="type_of_saving" type="text" name="type_of_saving" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Interest rate (%)</span>
                <input id="interest_rate" name="interest_rate" type="text" class="form-control" readonly>
            </div>
            <div class="form-group">
                <span>Current amount (after interest) (VND)</span>
                <input id="balance" name="current_amount" type="text" class="form-control" readonly>
            </div>
        </fieldset>
        <fieldset class="withdraw-information">
            <legend>Withdraw information</legend>
            <div class="form-group">
                <span>Money withdrawn (VND)</span>
                <img src="/images/valid-icon/valid.png" id="valid_wit_money">
                <img src="/images/valid-icon/invalid.png" id="invalid_wit_money">
                <input id="money_withdraw" type="text" name="money_withdraw" class="form-control"
                    placeholder="100,000,000" required>
                <p class="error-message" id="wit_money_error_message"></p>
            </div>
            <div class="form-group">
                <span>Withdraw date</span>
                <img src="/images/valid-icon/valid.png" id="valid_wit_date">
                <img src="/images/valid-icon/invalid.png" id="invalid_wit_date">
                <input id="withdraw_date" type="date" name="withdraw_date" class="form-control" required>
                <p class="error-message" id="wit_date_error_message"></p>
            </div>
        </fieldset>
        <button type="button" id="withdraw-button" class="button" onclick="confirmSubmit()">Withdraw</button>
    </form>
    <div id="pop-up" class="pop-up">
        <div class="pop-up-content">
            <div>
                <h2>Preview Information</h2>
                <img src="/images/popup/doublecheck.png">
            </div>
            <legend>Customer's Information</legend>
            <p id="confirmCId"></p>
            <p id="confirmName"></p>
            <p id="confirmAddress"></p>
            <legend>Account's Information</legend>
            <p id="confirmIDAccount"></p>
            <p id="confirmCreateDate"></p>
            <p id="confirmTos"></p>
            <p id="confirmRate"></p>
            <p id="confirmCurrentAmount"></p>
            <legend>Withdraw Information</legend>
            <p id="confirmWithdrawnMoney"></p>
            <p id="confirmWithdrawDate"></p>
            <div class="buttons">
                <button class="button" onclick="submitForm()">Submit</button>
                <button class="button" onclick="closePopup()">Cancel</button>
            </div>
        </div>
    </div>

    <div id="noti-pop-up" class="noti-pop-up">
        <div class="noti-pop-up-content">
            <div>
                <h2 id="success-message">Withdrawn Successfully!</h2>
            </div>
            <div>
                <h2 id="fail-message">Failed to withdraw!</h2>
                <br>
                <h2 id="fail-message2">Something went wrong.</h2>
            </div>
            <div>
                <img id="success-icon" src="/images/popup/success.png">
                <img id="fail-icon" src="/images/popup/fail.png">
            </div>
            <button id="pop-up-button" class="button" onclick="closeNotiPopup()">Close</button>
        </div>
    </div>
    <script>
        var isWitMoneyValid = true;
        var isWitDateValid = true;
        function confirmSubmit() {
            if (isWitMoneyValid && isWitDateValid) {
                var money_withdraw = document.querySelector('[name="money_withdraw"]').value;
                var withdraw_date = document.querySelector('[name="withdraw_date"]').value;

                document.getElementById('confirmWithdrawDate').innerText = 'Withdraw date: ' + withdraw_date;
                document.getElementById('confirmWithdrawnMoney').innerText = 'Money Withdrawn: ' + money_withdraw + ' VND';
                document.getElementById('confirmCurrentAmount').innerText = 'Current Amount: ' + document.getElementById('balance').value + ' VND';
                var popup = document.getElementById('pop-up');
                popup.style.display = "block";
            }
            else {
                return;
            }
        }

        function closePopup() {
            var popup = document.getElementById('pop-up');
            popup.style.display = "none";
        }

        function closeNotiPopup() {
            var popup = document.getElementById('noti-pop-up');
            popup.style.display = "none";
            if (document.getElementById('success-icon').style.display == "inline")
                window.location.href = "/sa/withdraw";
        }

        function submitForm() {
            closePopup();
            document.getElementById('money_withdraw').value = document.getElementById('money_withdraw').value.replace(/,/g, '');
            const form = document.getElementById('myForm');
            const formData = new FormData(form);

            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });

            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formObject)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);

                    // Hiển thị pop-up
                    var popup = document.getElementById('noti-pop-up');
                    popup.style.display = "block";

                    if (data.message == "success") {
                        document.getElementById('success-icon').style.display = "inline";
                        document.getElementById('fail-icon').style.display = "none";
                        document.getElementById('success-message').style.display = "inline";
                        document.getElementById('fail-message').style.display = "none";
                        document.getElementById('fail-message2').style.display = "none";
                    } else if (data.message == "fail") {
                        document.getElementById('success-icon').style.display = "none";
                        document.getElementById('fail-icon').style.display = "inline";
                        document.getElementById('success-message').style.display = "none";
                        document.getElementById('fail-message').style.display = "inline";
                        document.getElementById('fail-message2').style.display = "inline";
                    } else {
                        document.getElementById('success-icon').style.display = "none";
                        document.getElementById('fail-icon').style.display = "none";
                        document.getElementById('success-message').style.display = "none";
                        document.getElementById('fail-message').style.display = "none";
                        document.getElementById('fail-message2').style.display = "none";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            return false;
        }

        var minWitDays = 15;

        function addStrings(num1, num2) {
            const int1 = parseInt(num1, 10);
            const int2 = parseInt(num2, 10);

            const sum = int1 + int2;

            return sum.toString();
        }

        function subtractStrings(num1, num2) {
            const int1 = parseInt(num1, 10);
            const int2 = parseInt(num2, 10);

            const difference = int1 - int2;

            return difference;
        }
        // Redirect
        document.addEventListener("DOMContentLoaded", function () {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;

            const params = new URLSearchParams(window.location.search);

            // Get data account and display to screen
            const accountData = {
                id_account: params.get('id_account'),
                id_card: params.get('id_card'),
                customer_name: params.get('customer_name'),
                customer_address: params.get('customer_address'),
                date_created: params.get('date_created'),
                type_of_saving: params.get('type_of_saving'),
                interest_rate: params.get('interest_rate'),
                principal: params.get('principal'),
                interest: params.get('interest'),
                apply_date: params.get('apply_date')
            };

            document.getElementById('id_account').value = accountData.id_account;
            document.getElementById('customer_name').value = accountData.customer_name;
            document.getElementById('type_of_saving').value = accountData.type_of_saving;
            document.getElementById('interest_rate').value = accountData.interest_rate;
            document.getElementById('balance').value = addStrings(accountData.principal, accountData.interest).replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            if(accountData.type_of_saving != "Non-term") {
                const money = document.getElementById('money_withdraw');
                money.value = addStrings(accountData.principal, accountData.interest);
                money.readOnly = true;
            }

            document.getElementById('confirmCId').innerText = 'Customer ID Card: ' + accountData.id_card;
            document.getElementById('confirmName').innerText = 'Customer Name: ' + accountData.customer_name;
            document.getElementById('confirmAddress').innerText = 'Customer Address: ' + accountData.customer_address;
            document.getElementById('confirmIDAccount').innerText = 'ID Account: ' + accountData.id_account;
            document.getElementById('confirmCreateDate').innerText = 'Date Create Account: ' + accountData.date_created.slice(0, 10);
            document.getElementById('confirmTos').innerText = 'Type of Saving: ' + accountData.type_of_saving;
            document.getElementById('confirmRate').innerText = 'Interest Rate: ' + accountData.interest_rate + '%';

            fetch('/sa/withdraw/getMinWitDaysAPI?type=' + accountData.type_of_saving + '&apply_date=' + accountData.apply_date.slice(0, 10) + ' ' + accountData.apply_date.slice(11, 19))
                .then(response => response.json())
                .then(data => {
                    console.log('Raw Data:', data);
                    minwitMoney = data.min_wit_time;
                    document.getElementById('wit_money_error_message').innerText = `Must be less than or equal to ${addStrings(accountData.principal, accountData.interest)}`;
                    document.getElementById('wit_date_error_message').innerText = `At least ${minWitDays} day(s) from the date of last deposit`;
                })
                .catch(error => {
                    console.error('Error get min withdraw days:', error);
                });


        });

        // Valid input
        document.getElementById('money_withdraw').addEventListener('input', function () {
            let value = this.value.replace(/[^0-9.]/g, '');
            value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            this.value = value;
            const moneyWithdraw = document.getElementById('money_withdraw').value.replace(/,/g, '');
            if (subtractStrings(moneyWithdraw, document.getElementById('balance').value.replace(/,/g, '')) <= 0) {
                document.getElementById('wit_money_error_message').style.display = 'none';
                document.getElementById('valid_wit_money').style.display = "inline";
                document.getElementById('invalid_wit_money').style.display = "none";
                isWitMoneyValid = true;
            }
            else {
                document.getElementById('wit_money_error_message').style.display = 'inline';
                document.getElementById('valid_wit_money').style.display = "none";
                document.getElementById('invalid_wit_money').style.display = "inline";
                isWitMoneyValid = false;
            }
        });

        document.getElementById('money_withdraw').addEventListener('change', function () {
            const moneyWithdraw = document.getElementById('money_withdraw').value.replace(/,/g, '');
            if (subtractStrings(moneyWithdraw, document.getElementById('balance').replace(/,/g, '')) <= 0) {
                document.getElementById('wit_money_error_message').style.display = 'none';
                document.getElementById('valid_wit_money').style.display = "inline";
                document.getElementById('invalid_wit_money').style.display = "none";
                isWitMoneyValid = true;
            }
            else {
                document.getElementById('wit_money_error_message').style.display = 'inline';
                document.getElementById('valid_wit_money').style.display = "none";
                document.getElementById('invalid_wit_money').style.display = "inline";
                isWitMoneyValid = false;
            }
        });

        function getDifferenceInDays(dateString1, dateString2) {
            const date1 = new Date(dateString1);
            const date2 = new Date(dateString2);

            const timeDifference = date1 - date2; // milisec

            const differenceInDays = timeDifference / (1000 * 60 * 60 * 24);

            return differenceInDays;
        }

        
        var lastDepositDate;
        document.getElementById('withdraw_date').addEventListener('change', async function () {
            const id_account = document.getElementById('id_account').value;
            const withdraw_day = this.value;
            await fetch('/sa/withdraw/getCurrentBalanceAPI?id_account=' + id_account + '&withdraw_date=' + withdraw_day)
                .then(response => response.json())
                .then(data => {
                    console.log('Raw Data:', data);
                    document.getElementById('balance').value = Math.floor(Number(data.totalAmount));
                    document.getElementById('balance').value = document.getElementById('balance').value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                    lastDepositDate = data.lastDepositDate.slice(0, 10);
                    document.getElementById('wit_money_error_message').innerText = `Must be less than or equal to ${document.getElementById('balance').value}`;
                    if(document.getElementById('type_of_saving').value != 'Non-term')
                        document.getElementById('money_withdraw').value = document.getElementById('balance').value;
                })
                .catch(error => {
                    console.error('Error get current balance:', error);
                });

            const dateWithdraw = document.getElementById('withdraw_date').value;
            console.log(getDifferenceInDays(dateWithdraw, lastDepositDate));
            if (getDifferenceInDays(dateWithdraw, lastDepositDate) > minWitDays) {
                document.getElementById('wit_date_error_message').style.display = 'none';
                document.getElementById('valid_wit_date').style.display = "inline";
                document.getElementById('invalid_wit_date').style.display = "none";
                isWitDateValid = true;
            }
            else {
                document.getElementById('wit_date_error_message').style.display = 'inline';
                document.getElementById('valid_wit_date').style.display = "none";
                document.getElementById('invalid_wit_date').style.display = "inline";
                isWitDateValid = false;
            }
        });
    </script>
</body>

</html>