<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/starting.css">
</head>

<body>
    <div class="background"></div>
    <div class="block"></div>
    <div class="header-container">
        <div class="logo">MATA</div>
        <div class="contact-text">
            <a id="contact-link">Contact</a>
        </div>
    </div>
    <div class="text-container">
        <h3>Your trust</h3>
        <h4>Our Vision</h4>
    </div>
        <a id="home-link-starting">
            <div class="primary-btn">START</div>
        </a>
    <script>
        // Redirect
        document.addEventListener("DOMContentLoaded", function() {
            const currentDomain = window.location.origin;
            const contactPath = "/contact";
            const fullContactUrl = `${currentDomain}${contactPath}`;
            document.getElementById("contact-link").href = fullContactUrl;
            const homePath = "/home";
            const fullHomeUrl = `${currentDomain}${homePath}`;
            document.getElementById("home-link-starting").href = fullHomeUrl;
        });
    </script>
</body>

</html>