<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/starting.css">
</head>

<body>
    <div class="background"></div>
    <div class="block"></div>
    <div class="header-container">
        <div class="logo">MATA</div>
        <div class="contact-text">
            <a href="http://localhost:3000/contact">Contact</a>
        </div>
    </div>
    <div class="text-container">
        <h3>Your trust</h3>
        <h4>Our Vision</h4>
    </div>
        <a href="/home">
            <div class="primary-btn">START</div>
        </a>
    <script>
    </script>
</body>

</html>